<div id="header" class="header">
	<h3>Gourmet Olive Oils, Aged Balsamics & Related Products</h3>
	<div class="actionbanner">
		<div class="motto">Live with taste live well</div>
		<div class="cartinfo">Your Cart</div>
		<div class="totalprice">Total and Checkout bttn</div>
	</div>
</div>
<div class="layout">
	<ul ng-repeat="item in product" class="primary">
		<hr>
		<li>{{item.name}}</li>
		<li>{{item.pricebig}}</li>
		<li>{{item.pricesmall}}</li>
		<li><p>{{item.description}}</p></li>
		<hr>
	</ul>
</div>