<div class="slickContainer" ng-repeat="items in product">
	<div slick-carousel>
		<div class="slide1">
			<!-- <img ng-src="{{items.image}}"/> -->
			<div class="textContainer">
				<div class="logo"><img src="images/svg/oandw-logo3.svg"/></div>
				<div class="logoText"><p>Gourmet Olive Oils, Aged Balsamics & Related Products</p></div>
				<div class="slogan"><p>Where Healthy Tastes Great</p></div>
			</div>
		</div>
<!-- 		<div class="slide2">
			<img ng-src="{{items.image2}}"/>
			<div class="textContainer">
				<div class="header"><p>Where Healthy Tastes Great</p></div>
				<div class="imgText"><p>Not only pleasing to the palate, but also beneficial to the body.</p></div>
			</div>
		</div>
		<div class="slide3">
			<img ng-src="{{items.image3}}"/>
			<div class="textContainer">
				<div class="header"><p>Endless Possibilities</p></div>
				<div class="imgText"><p>Ask us for pairing and recipe suggestions.</p></div>
			</div>
		</div> -->
	</div>
</div>

<div class="layout">
	<div class="sectionTitle">
		<p>Explore our store</p>
		<img src="images/svg/oliveandwell-motif-002.svg"/>
	</div>
	<div class="promogroup one">
		<div class="promo one">
			<div class="row one">
				<img src="images/varietal/arbosanaimg.png"/>
			</div>
			<div class="row two">
				<p>Single Varietals</p>
			</div>
			<div class="row three">
				<a href="#/varietal">Buy</a>
			</div>
		</div>

		<div class="promo two">
			<div class="row one">
				<img src="images/fused/provence-img.png"/>
			</div>
			<div class="row two">
				<p>Fused & Infused</p>
			</div>
			<div class="row three">
				<a href="#/infuse">Buy</a>
			</div>
		</div>

		<div class="promo three">
			<div class="row one">
				<img src="images/specialty/roasted-sweet-almond.png"/>
			</div>
			<div class="row two">
				<p>Specialty Oils</p>
			</div>
			<div class="row three">
				<a href="#/specialty">Buy</a>
			</div>
		</div>

		<div class="promo four">
			<div class="row one">
				<img src="images/balsamics/cinnamon-pear-balsamic.png"/>
			</div>
			<div class="row two">
				<p>Balsamics de Modena</p>
			</div>
			<div class="row three">
				<a href="#/balsamics">Buy</a>
			</div>
		</div>

		<div class="promo five">
			<div class="row one">
				<img src="images/seasonings/sun-ripened-tomato.png"/>
			</div>
			<div class="row two">
				<p>Seasonings</p>
			</div>
			<div class="row three">
				<a href="#/seasonings">Buy</a>
			</div>
		</div>

		<div class="promo six">
			<div class="row one">
				<div class="svg two"><img src="images/svg/gift3bottles.svg"/></div>
			</div>
			<div class="row two">
				<p>Gift Assortments</p>
			</div>
			<div class="row three">
				<a href="#/gifts">Buy</a>
			</div>
		</div>

		<div class="promo seven">
			<div class="row one">
				<img src="images/accessories/gravity_pour_spout.png"/>
			</div>
			<div class="row two">
				<p>Tabletop & Accessories</p>
			</div>
			<div class="row three">
				<a href="#/accessories">Buy</a>
			</div>
		</div>
		<span class="introText">
			<p>Our products come fresh from small-batch groves and producers throughout the world. We carry over 50 olive oils, truly aged balsamic vinegars, specialty oils, specialty vinegars, and food products. We focus on freshness ... from pick to press is measured in just hours in our Ultra Premium varietals. And we focus on health ... our oils are high in polyphenols, and our balsamics are all natural, no added sugars or colors.</p>
		</span>	
	</div>

	<div class="promogroup two">
		<div class="weddingContainer">
			<div class="weddingContent">
				<img src="images/svg/wedding-art.svg">
				<p>Wedding<br />&<br />Party favors</p>
				<p>We prepare packages for you to pick up at our store in Oak Park, Illinois.<br /> Contact us for details.</p>
			</div>
		</div>
	</div>
	<div class="promogroup three">
		<div class="corporateContainer">
			<div class="corporateContent">
				<img src="images/svg/corporate-art.svg">
				<p>Corporate<br />Gifts</p>			
				<p>We can create a variety of gift assortments, at all price levels, for your clients.<br />Contact us for ideas.</p>
			</div>
		</div>
	</div>
	<div class="promogroup four">
		<div class="pastaContainer">
			<div class="pastaContent">
				<img src="images/svg/oliveandwell-motif-003.svg">
				<p>We carry</p>
				<p>Pappardelle's Pasta</p>
				<p>In store only</p>
				<img src="images/svg/oliveandwell-motif-004.svg">
				<p>Contact us for varieties</p>
				<img src="images/home/pappardelle-pasta-oandw001.png">
				<img src="images/home/pappardelle-pasta-oandw002.png">
			</div>
		</div>
	</div>
</div>