<div class="slickContainer" ng-repeat="items in product">
	<div slick-carousel>
		<div>
			<img ng-src="{{items.image}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<!-- <div>Where Healthy</div><div>Tastes Great</div> -->
				<div id="sloganText">Where Healthy Tastes Great</div>
				<div class="imgText">Gourmet Olive Oils, Aged Balsamics & Related Products</div>
			</div>
		</div>
		<div>
			<img ng-src="{{items.image2}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<div id="sloganText">High Temperature Oils</div>
				<div class="imgText">Cooking at 460degrees and over...</div>
			</div>
		</div>
		<div>
			<img ng-src="{{items.image3}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<div id="sloganText">Pairing Suggestions</div>
				<div class="imgText">Pair Olive Oils with Balsamics to get an extraordinary flavour...</div>
			</div>
		</div>
	</div>
</div>
<div class="promogroup">
	<div class="promo one">
		<div class="row one">
			<div class="svg"><img src="images/svg/three-bottles.svg"/></div>
		</div>
		<div class="row two">
			<div class="img"><img src="images/specialty/roasted-pumpkin-seed-img.png"/></div>
			<div class="img"><img src="images/specialty/roasted-sweet-almond-img.png"/></div>
			<div class="img"><img src="images/specialty/toasted-japanese-sesame-img.png"/></div>
		</div>
		<div class="row three">
			<p>Specialty Oils</p>
		</div>
		<div class="row four">
			<p class="infoText">High in antioxidants, rich in vitamin E, smoke point over 400 degrees.</p>
		</div>
		<div class="row five">
			<a href="#/specialty">Shop Now</a>
		</div>
	</div>
	<div class="promo two">
		<div class="row one">
			<div class="svg"><img src="images/svg/four-bottles2.svg"/></div>
		</div>
		<div class="row two">
			<div class="img"><img src="images/balsamics/oregano-balsamic.png"/></div>
			<div class="img"><img src="images/balsamics/madagascar-vanilla-balsamic.png"/></div>
			<div class="img"><img src="images/balsamics/cinnamon-pear-balsamic.png"/></div>
		</div>
		<div class="row three">
			<p>Balsamics de Modena</p>
		</div>
		<div class="row four">
			<p class="infoText">Great over grilled meats and seafood. Add a few drops on fresh berries, Parmigiano-Reggiano cheese, or creamy desserts for an exquisite flavour.</p>
		</div>
		<div class="row five">
			<a href="#/balsamics">Shop Now</a>
		</div>
	</div>
	<div class="promo three">
		<div class="row one">
			<div class="svg"><img src="images/svg/seasoning-packages.svg"/></div>
		</div>
		<div class="row two">
			<div class="img"><img src="images/seasonings/matcha.png"/></div>
			<div class="img"><img src="images/seasonings/sun-ripened-tomato.png"/></div>
			<div class="img"><img src="images/seasonings/black-truffle-salt.png"/></div>
		</div>
		<div class="row three">
			<p>Seasonings</p>
		</div>
		<div class="row four">
			<p class="infoText">Salts, Herbs, Condiments & Sugars.</p>
		</div>
		<div class="row five">
			<a href="#/seasonings">Shop Now</a>
		</div>
	</div>
	<div class="promo four">
		<div class="row one">
			<div class="svg one"><img src="images/svg/gift2bottles.svg"/></div>
			<div class="svg two"><img src="images/svg/gift3bottles.svg"/></div>
		</div>
		<div class="row two"></div>
		<div class="row three">
			<p>Gift Assortments</p>
		</div>
		<div class="row four">
			<p class="infoText">Give oil to your friends.</p>
		</div>
		<div class="row five">
			<a href="#/gifts">Shop Now</a>
		</div>
	</div>
</div>