<div class="slickContainer" ng-repeat="items in product">
	<div slick-carousel>
		<div>
			<img ng-src="{{items.image}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<!-- <div>Where Healthy</div><div>Tastes Great</div> -->
				<div id="sloganText">Where Healthy Tastes Great</div>
				<div class="imgText">Gourmet Olive Oils, Aged Balsamics & Related Products</div>
			</div>
		</div>
		<div>
			<img ng-src="{{items.image2}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<div id="sloganText">High Temperature Oils</div>
				<div class="imgText">Cooking at 460degrees and over...</div>
			</div>
		</div>
		<div>
			<img ng-src="{{items.image3}}"/>
			<div class="slogan">
				<div id="spacer"></div><!-- spacer -->
				<div id="sloganText">Pairing Suggestions</div>
				<div class="imgText">Pair Olive Oils with Balsamics to get an extraordinary flavour...</div>
			</div>
		</div>
	</div>
</div>
<div class="promogroup">
	<div class="promo 1"></div>
	<div class="promo 2"></div>
	<div class="promo 3"></div>
	<div class="promo 4"></div>
</div>