<!doctype html>
<html lang="en" ng-app="oandwApp" class="no-js">
	<head>
<!-- 		<meta charset="UTF-8"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Olive and Well</title>

		<!-- css -->
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/slick.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/routes.js"></script>
		<script type="text/javascript" src="js/modernizr.js"></script>

		<!-- creative cloud fonts -->
		<script src="https://use.typekit.net/shf4hgt.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- Services -->
		<script type="text/javascript" src="js/services/model.js"></script>
		<script type="text/javascript" src="js/services/orderService.js"></script>
		<script type="text/javascript" src="js/services/verifyCard.js"></script>	

		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/balsamics-controller.js"></script>
		<script type="text/javascript" src="js/controllers/infuse-controller.js"></script>
		<script type="text/javascript" src="js/controllers/specialty-controller.js"></script>
		<script type="text/javascript" src="js/controllers/seasonings-controller.js"></script>
		<script type="text/javascript" src="js/controllers/varietal-controller.js"></script>
		<script type="text/javascript" src="js/controllers/gifts-controller.js"></script>
		<script type="text/javascript" src="js/controllers/accessor-controller.js"></script>
		<script type="text/javascript" src="js/controllers/home-controller.js"></script>
		<script type="text/javascript" src="js/controllers/order-controller.js"></script>

		<!-- Directives -->
		<script type="text/javascript" src="js/directives/slick.dir.js"></script>
		<script type="text/javascript" src="js/directives/nav-menu.js"></script>
		<script type="text/javascript" src="js/directives/gifts-container.js"></script>
		<script type="text/javascript" src="js/directives/specialty-container.js"></script>
		<script type="text/javascript" src="js/directives/seasoning-container.js"></script>
		<script type="text/javascript" src="js/directives/big-bottle.js"></script>
		<script type="text/javascript" src="js/directives/small-bottle.js"></script>
		<script type="text/javascript" src="js/directives/bttns-left.js"></script>
		<script type="text/javascript" src="js/directives/bttns-right.js"></script>
		<script type="text/javascript" src="js/directives/bttns-hor.js"></script>
		<script type="text/javascript" src="js/directives/bttns-left-gifts.js"></script>
		<script type="text/javascript" src="js/directives/navscroll.js"></script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50369900-2', 'auto');
		ga('send', 'pageview');

		</script>
	</head>

	<body>
		<header nav-scroll>
			<div class="logoBar">
				<div class="logo">
					<a href="#/home"><img src="images/svg/oandw-logo2.svg"/></a>
				</div>
				<div class="barsWrapper" ng-click="menutoggle = !menutoggle">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>

			<nav class="sitemenu" >
				<div class="navwrapper" ng-class="{'showMenu' : menutoggle }">
					<ul nav-menu="active">
						<li ng-click="menutoggle = !menutoggle"><a href="#/home">Home</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/varietal">Single Varietals</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/infuse">Fused & Infused</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/specialty">Specialty Oils</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/balsamics">Balsamics</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/seasonings">Seasonings</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/gifts">Gifts</a></li>
						<li ng-click="menutoggle = !menutoggle"><a href="#/accessories">Accessories</a></li>
					</ul>
				</div>
				<div class="closeBttnMenu" ng-click="menutoggle = !menutoggle" ng-class="{'showBttn' : menutoggle }">
					<i class="material-icons">close</i>
				</div>
			</nav>
		</header>

		<div class="aboutUs" ng-show="showAbout">
			<div class="closeBttn" ng-click="showAbout = ! showAbout">
				<i class="material-icons">close</i>
			</div>
			<p>Olive & Well offers the finest Extra Virgin Olive Oils, Aged Balsamic Vinegars & related products. Our products come fresh to you from small-batch groves and producers throughout the world. We carry over 50 olive oils, truly aged balsamic vinegars, specialty oils, specialty vinegars, and food products. We focus on the olive used to press the oil, not a brand. We focus on freshness ... from pick to press is measured in just hours in our Ultra Premium varietals.  ... And we focus on health — our oils are high in polyphenols, and our balsamics are all natural, no added sugars or colors. This is what makes our products so distinct and FLAVORFUL!</p><br />
 
			<p>Customers are able to taste our premium olive oils and balsamic vinegars before making their selection, which is bottled from the same Italian Fusti (stainless steel tank) that they sample, so they know they are buying the freshest and most delicious products to enhance recipes and make palates happy.</p><br />
			 
			<p>Even if you have not yet had the opportunity to visit us in person to experience our tasting opportunities, you can order online and rest assured that you will be getting the same quality, fresh products that our in-store customers try.</p><br />

			<address class="extraAddress">
				<p><a href="https://www.google.com/maps?ll=41.888152,-87.794808&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=133+N+Oak+Park+Ave+Oak+Park,+IL+60301" target="_blank">133 N. Oak Park Ave. Oak Park, IL 60301</a></p>
				<p>Phone: 708.848.4230</p>
				<p>info@oliveandwell.com</p>
			</address><br />

			<p class="hours bold">Business Hours</p>
			<p>Monday: 11 am - 6:00 pm</p>
			<p>Tuesday: 11 am - 6:00 pm</p>
			<p>Wednesday: 11 am - 6:00 pm</p>
			<p>Thursday: 11 am - 6:00 pm</p>
			<p>Friday: 11 am - 6:00 pm</p>
			<p>Saturday: 11 am - 5:00 pm</p>
			<p>Sunday: 12:30 pm - 4:00 pm</p><br /><br /><br />
		</div>

		<div ng-view></div>

		<footer>
			<div class="motive">
				<img src="images/svg/motive003.svg"/>
			</div>
			<address><a href="https://www.google.com/maps?ll=41.888152,-87.794808&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=133+N+Oak+Park+Ave+Oak+Park,+IL+60301" target="_blank">133 N. Oak Park Ave. Oak Park, IL 60301</a> | Phone: 708.848.4230 | info@oliveandwell.com</address>

			<p><a class="about" ng-click="showAbout = ! showAbout">About Us |</a> © 2016 | Olive & Well, Inc.</p> 
		</footer>

		<div class="cartBanner" ng-class="{'cartBttn' : showCart }" ng-controller="orderController as model">
			<div class="maticon shopping_cart" ng-click="showCart = ! showCart">
				<i class="material-icons">shopping_cart</i>
			</div>
			<div ng-class="{'circleAnim': model.recentlyChanged, 'circleTotal': model.hasItems}">
				<ul>
					<li>
						<span ng-show="model.hasItems">{{model.itemCount}}</span>
					</li>
				</ul>
			</div>

			<div class="cartBannerContent" ng-class="{'cartHidden' : !showCart }">
			<!-- <div class="cartBannerContent hidden"> -->
<!--Step 1-->
				<div class="cartProductList" id="cart-items" ng-show="model.step == 1">
					<div class="cartBigText">{{model.itemCount}} Items in your Cart</div>
					<table class="hidden">
						<tr class="tableLabels">
							<td colspan="3">Quantity</td>
							<td>Name</td>
							<td>Subtotal</td>
						</tr>
						<tr ng-repeat="item in model.items">
							<td>
								<div class="addRemoveBttn" ng-click="model.remove(item.name)">
									<img src="images/svg/cartminusbttn.svg"/>
								</div>
							</td>
							<td>{{item.count}}</td>
							<td>
								<div class="addRemoveBttn" ng-click="model.add(item.name)">
									<img src="images/svg/bigplusbttn.svg"/>
								</div>
							</td>
							<td>{{item.name}}</td>
							<td>{{item.total | currency}}</td>
						</tr>
						<tr>
							<td colspan="5" class="cartTotal">Total: {{model.subTotal | currency}}</td>
						</tr>
					</table>
					<table class="cartCTA">
						<tr>
							<td class="cartCTAback" id="keepShopping" ng-click="showCart = ! showCart"><i class="material-icons maticon">arrow_back</i> Keep Shopping</td>
							<td class="cartCTAforward" ng-click="model.step = 2" ng-show="model.hasItems">Checkout <i class="material-icons maticon">arrow_forward</i></td>
						</tr>
					</table>
				</div>
<!--Step 2-->
				<div class="cartProductList" id="ship-n-pay" ng-show="model.step == 2">
					<div class="form">
						<div class="general">
							<h2>General Information</h2>
							<input type="text" ng-model="model.order.billingAddress.firstName" placeholder="First Name"/><span class="input-error" ng-show="!model.order.billingAddress.firstName">*</span>

							<input type="text" ng-model="model.order.billingAddress.lastName" placeholder="Last Name"/><span class="input-error" ng-show="!model.order.billingAddress.lastName">*</span>

							<input type="text" ng-model="model.order.billingAddress.email" placeholder="Email"/><span class="input-error" ng-show="!model.order.billingAddress.emailValid()">*</span>
						</div>
						<div class="billing">
							<h2>Billing Information</h2>
							<p>United States Only</p>
							<input type="text" ng-model="model.order.billingAddress.address" placeholder="Address" /><span class="input-error" ng-show="!model.order.billingAddress.address">*</span>

							<input type="text" ng-model="model.order.billingAddress.city" placeholder="City" /><span class="input-error" ng-show="!model.order.billingAddress.city">*</span>

							<div class="select">
								<select ng-options="option.name for option in model.usStates track by option.value" ng-model="model.billingState"></select><span class="input-error" ng-show="!model.order.billingAddress.state">*</span>
							</div>

							<input class="zip" type="text" ng-model="model.order.billingAddress.zip" placeholder="Zip" /><span class="input-error" ng-show="!model.order.billingAddress.zip">*</span>

							<div>
								<input class="phone" type="text" ng-model="model.order.billingAddress.phone" placeholder="Phone" /><span class="input-error" ng-show="!model.order.billingAddress.phoneValid()">*</span>
							</div>
						</div>
						<div class="shipping">
							<h2>Shipping Information</h2>
							<input type="checkbox" ng-model="model.order.shipToBillingAddress" />
							<div>
								<p>Same as billing address</p>
							</div>
						</div>
						<div ng-hide="model.order.shipToBillingAddress">
							<input type="text" ng-model="model.order.shippingAddress.firstName" placeholder="First Name" /><span class="input-error" ng-show="!model.order.shippingAddress.firstName">*</span>

							<input type="text" ng-model="model.order.shippingAddress.lastName" placeholder="Last Name" /><span class="input-error" ng-show="!model.order.shippingAddress.lastName">*</span>

							<input type="text" ng-model="model.order.shippingAddress.address" placeholder="Address" /><span class="input-error" ng-show="!model.order.shippingAddress.address">*</span>

							<input type="text" ng-model="model.order.shippingAddress.city" placeholder="City" /><span class="input-error" ng-show="!model.order.shippingAddress.city">*</span>

							<div class="select">
								<select ng-options="option.name for option in model.usStates track by option.value" ng-model="model.shippingState"></select><span class="input-error" ng-show="!model.order.shippingAddress.state">*</span>
							</div>
							<input class="zip" type="text" ng-model="model.order.shippingAddress.zip" placeholder="Zip" /><span class="input-error" ng-show="!model.order.shippingAddress.zip">*</span>
							<p>United States</p>
						</div>
						<div class="type">
							<h2>Shipping Type</h2>
							<div class="select">
								<select ng-options="option.name for option in model.shippingOptions track by option.value" ng-model="model.shippingOption"></select>
							</div>
							<h2>Gift Information (Optional)</h2>
							<input type="text" ng-model="model.order.giftNote" placeholder="Gift Note" />
							<input class="phone" type="text" ng-model="model.order.giftRecipientPhone" placeholder="Gift Recipient's Phone Number" />
							<input type="text" ng-model="model.order.giftInstructions" placeholder="Special Instructions" />
						</div>
						<div class="cartCTA">
							<div class="cartCTAback" ng-click="model.step = 1"><i class="material-icons maticon">arrow_back</i> Cart Items</div>
							<div class="cartCTAforward" ng-click="model.step = 3" ng-show="model.order.isValid()">Confirm <i class="material-icons maticon">arrow_forward</i></div>
						</div>
					</div>
				</div>
<!--Step 3-->
				<div class="cartProductList" id="verify-order" ng-show="model.step == 3">
					<div>
						<h2>Confirm Your Order</h2>
						<p>Order Summary</p>
						<div class="divider2"></div>
						<div>
							<table>
								<tr ng-repeat="item in model.order.items">
									<td>{{item.count}}</td>
									<td>{{item.name}}</td>
									<td>{{item.total | currency}}</td>
								</tr>
							</table>
						</div>
						<p><span class="confirmLabel">Tax:</span> {{model.order.totalTax | currency}}</p>
						<p><span class="confirmLabel">Shipping:</span> {{model.shippingTypeLabel}}: {{model.order.shippingPrice | currency}}</p>
						<p><span class="confirmLabel">Subtotal:</span> {{model.order.subTotal | currency}}</p>
						<div class="divider2"></div>
						<p class="totalConfirm"><span class="confirmLabel">Total:</span> {{model.total | currency}}</p>
					</div>
					<div>
						<div class="divider2"></div>
						<h2>General Information</h2>
						<p><span class="confirmLabel">First Name:</span> {{model.order.billingAddress.firstName}}</p>
						<p><span class="confirmLabel">Last Name:</span> {{model.order.billingAddress.lastName}}</p>
						<p><span class="confirmLabel">Email:</span> {{model.order.billingAddress.email}}</p>
					</div>
					<div>
						<div class="divider2"></div>
						<h2>Billing Information</h2>
						<p><span class="confirmLabel">Address:</span> {{model.order.billingAddress.address}}</p>
						<p><span class="confirmLabel">City:</span> {{model.order.billingAddress.city}}</p>
						<p><span class="confirmLabel">State:</span> {{model.order.billingAddress.state}}</p>
						<p><span class="confirmLabel">Zip:</span> {{model.order.billingAddress.zip}}</p>
						<p><span class="confirmLabel">Phone:</span> {{model.order.billingAddress.phone}}</p>
					</div>
					<div>
						<div class="divider2"></div>
						<h2>Shipping Information</h2>
						<div>
							<p ng-show="model.order.shipToBillingAddress">Same as Billing Address</p>
						</div>
					</div>
					<div ng-hide="model.order.shipToBillingAddress">
						<p><span class="confirmLabel">First Name:</span> {{model.order.shippingAddress.firstName}}</p>
						<p><span class="confirmLabel">Last Name:</span> {{model.order.shippingAddress.lastName}}</p>
						<p><span class="confirmLabel">Address:</span> {{model.order.shippingAddress.address}}</p>
						<p><span class="confirmLabel">City:</span> {{model.order.shippingAddress.city}}</p>
						<p><span class="confirmLabel">State:</span> {{model.order.shippingAddress.state}}</p>
						<p><span class="confirmLabel">Zip:</span> {{model.order.shippingAddress.zip}}</p>
						<p><span class="confirmLabel">Gift Note:</span> {{model.order.giftNote}}</p>
						<p><span class="confirmLabel">Gift Recipient's Phone:</span> {{model.order.giftRecipientPhone}}</p>
					</div>
					<div>
						<div class="divider2"></div>
						<p><span class="confirmLabel">Special Instructions:</span> {{model.order.giftInstructions}}</p>
					</div>
					<div>
						<div class="divider2"></div>
						<h2>Credit Card Information</h2>
					</div>
<!-- show here images of accepted credit cards -->
					<div><img src="images/credit-cards.jpg" alt="Credit Card types accepted" height="32" width="152"></div>
					<div class="form tarjetaInformation">
						<input type="text" ng-model="model.order.cardHolder" placeholder="Name on card"/><span class="input-error" ng-show="!model.order.cardHolder">*</span>

						<input type="text" ng-model="model.order.cardNumber" placeholder="Card number"/><span class="input-error" ng-show="!model.order.validCardNumber()">*</span>

						<div>
							<input class="shortfield" type="text" ng-model="model.order.cardExpiration" placeholder="Expiration date"/><span class="input-error" ng-show="!model.order.cardExpiration">* </span><span class="input-sample"> e.g. 03/17</span>
						</div>

						<input class="shortfield" type="text" ng-model="model.order.cardSecurityCode" placeholder="Security code"/><span class="input-error" ng-show="!model.order.cardSecurityCode">*</span>
					</div>

					<div class="cartCTA">
						<div class="cartCTAback" ng-click="model.step = 2"><i class="material-icons maticon">arrow_back</i> Delivery</div>
						<div class="cartCTAforward" ng-click="model.submit()" ng-show="!model.submitting && model.order.validPayment()">Place Order <i class="material-icons maticon">arrow_forward</i></div>

						<div class="cartCTAforward" ng-show="model.submitting">...</div>
					</div>
				</div>

				<!--Step 4-->
				<div class="cartProductList" id="order-submitted" ng-show="model.step == 4">
					<p>Thank you!</p>
					<p>Your order is being processed!</p>
					<br/>
					<div ng-click="model.hideCart()">
						<i class="material-icons maticon">done_all</i> OK
					</div>
				</div>

				<!--Step 5-->
				<div class="cartProductList" id="order-submit-failed" ng-show="model.step == 5">
					<p>Order submit failed!</p>
					<p>Please try again in a few minutes</p>
					<div class="cartCTAback" ng-click="model.step = 3"><i class="material-icons maticon">arrow_back</i>Back to Place Order</div>
				</div>
			</div>
		</div>

		<script src="js/script.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>