<!doctype html>
<html lang="en" ng-app="oandwApp" class="no-js">
	<head>
<!-- 		<meta charset="UTF-8"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Olive and Well</title>

		<!-- css -->
		<link rel="stylesheet" href="css/styles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/routes.js"></script>
		<script type="text/javascript" src="js/modernizr.js"></script>

		<!-- creative cloud fonts -->
		<script src="https://use.typekit.net/shf4hgt.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- Services -->
		<script type="text/javascript" src="js/services/model.js"></script>
		<script type="text/javascript" src="js/services/orderService.js"></script>

		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/balsamics-controller.js"></script>
		<script type="text/javascript" src="js/controllers/infuse-controller.js"></script>
		<script type="text/javascript" src="js/controllers/specialty-controller.js"></script>
		<script type="text/javascript" src="js/controllers/seasonings-controller.js"></script>
		<script type="text/javascript" src="js/controllers/varietal-controller.js"></script>
		<script type="text/javascript" src="js/controllers/gifts-controller.js"></script>
		<script type="text/javascript" src="js/controllers/accessor-controller.js"></script>
		<script type="text/javascript" src="js/controllers/order-controller.js"></script>

		<!-- Directives -->
		<script type="text/javascript" src="js/directives/nav-menu.js"></script>
		<script type="text/javascript" src="js/directives/gifts-container.js"></script>
		<script type="text/javascript" src="js/directives/specialty-container.js"></script>
		<script type="text/javascript" src="js/directives/seasoning-container.js"></script>
		<script type="text/javascript" src="js/directives/big-bottle.js"></script>
		<script type="text/javascript" src="js/directives/small-bottle.js"></script>
		<script type="text/javascript" src="js/directives/bttns-left.js"></script>
		<script type="text/javascript" src="js/directives/bttns-right.js"></script>
		<script type="text/javascript" src="js/directives/bttns-hor.js"></script>
		<script type="text/javascript" src="js/directives/bttns-left-gifts.js"></script>
	</head>

	<body>
		<div class="logoBar">
			<div class="logo logoIntro">
				<img src="images/svg/logo.svg"/>
			</div>
			<div class="barsWrapper">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
		</div>

		<div class="imgText">Gourmet Olive Oils,<br />Aged Balsamics<br />& Related Products</div>

		<div class="slogan">Where Healthy Tastes Great</div>

		<nav class="sitemenu hidden sitemenuIntro">
			<div class="closeBttnMenu">
				<i class="material-icons">close</i>
			</div>
			<div class="navwrapper">
				<ul nav-menu="active">
					<li><a href="#/varietal">Single Varietals</a></li>
					<li><a href="#/infuse">Fused & Infused</a></li>
					<li><a href="#/specialty">Specialty Oils</a></li>
					<li><a href="#/balsamics">Balsamics</a></li>
					<li><a href="#/seasonings">Seasonings</a></li>
					<li><a href="#/gifts">Gifts</a></li>
					<li><a href="#/accessories">Accessories</a></li>
				</ul>
			</div>
		</nav>

		<div class="aboutUs closed">
			<div class="closeBttn">
				<i class="material-icons">close</i>
			</div>
			<p>Olive & Well offers the finest Extra Virgin Olive Oils, Aged Balsamic Vinegars & related products. Our products come fresh to you from small-batch groves and producers  throughout the world. We carry over 50 olive oils, truly aged balsamic vinegars, specialty oils, specialty vinegars, and food products.  We focus on the olive used to press the oil, not a brand.  We focus on freshness ... from pick to press is measured in just hours in our Ultra Premium varietals.  ... And we focus on health — our oils are high in polyphenols, and our balsamics are all natural, no added sugars or colors.  This is what makes our products so distinct and FLAVORFUL!</p><br />
 
			<p>Customers are able to taste our premium olive oils and balsamic vinegars before making their selection, which is bottled from the same Italian Fusti (stainless steel tank) that they sample, so they know they are buying the freshest and most delicious products to enhance recipes and make palates happy.</p><br />
			 
			<p>Even if you have not yet had the opportunity to visit us in person to experience our tasting opportunities, you can order online and rest assured that you will be getting the same quality, fresh products that our in-store customers try.</p><br />

			<p>133 N. Oak Park Ave. Oak Park, IL 60301 | Phone: 708.848.4230 | info@oliveandwell.com</p><br /><br /><br />
		</div>

		<div ng-view></div>

		<nav class="submenu hidden">
			<div class="navwrapper">
				<ul nav-menu="active">
					<li><a href="#/varietal">Single Varietals</a></li>
					<li><a href="#/infuse">Fused & Infused</a></li>
					<li><a href="#/specialty">Specialty Oils</a></li>
					<li><a href="#/balsamics">Balsamics</a></li>
					<li><a href="#/seasonings">Seasonings</a></li>
					<li><a href="#/gifts">Gifts</a></li>
					<li><a href="#/accessories">Accessories</a></li>
				</ul>
			</div>
		</nav>

		<footer>
			<p>| 133 N. Oak Park Ave. Oak Park, IL 60301 | Phone: 708.848.4230 | info@oliveandwell.com |</p>
			<p>| © 2015 | Olive & Well, Inc. | <a class="about">About Us |</a></p> 
		</footer>

		<div class="cartBttn cartBanner" ng-controller="orderController as model">
			<div class="maticon shopping_cart">
				<i class="material-icons">shopping_cart</i>
			</div>
			<div ng-class="{'circleAnim': model.recentlyChanged, 'circleTotal': model.hasItems}">
				<ul>
					<li>
						<span ng-show="model.hasItems">{{model.itemCount}}</span>
					</li>
				</ul>
			</div>

			<div class="cartBannerContent hidden">

<!--Step 1-->
				<div class="cartProductList" id="cart-items" ng-show="model.step == 1">
					<div class="cartBigText">{{model.itemCount}} Items in your Cart</div>
					<table class="hidden">
						<tr>
							<td colspan="3">Quantity</td>
							<td>Name</td>
							<td>Subtotal</td>
						</tr>
						<tr ng-repeat="item in model.items">
							<td>
								<div class="addRemoveBttn" ng-click="model.remove(item.name)">
									<img src="images/svg/cartminusbttn.svg"/>
								</div>
							</td>
							<td>{{item.count}}</td>
							<td>
								<div class="addRemoveBttn" ng-click="model.add(item.name)">
									<img src="images/svg/bigplusbttn.svg"/>
								</div>
							</td>
							<td>{{item.name}}</td>
							<td>{{item.total | currency}}</td>
						</tr>
						<tr>
							<td colspan="5" class="cartTotal">Total: {{model.total | currency}}</td>
						</tr>
					</table>
					<table>
						<tr>
							<td class="cartActionText left" id="keepShopping"><i class="material-icons maticon">arrow_back</i> Keep Shopping</td>
							<td class="cartActionText" ng-click="model.step = 2" ng-disabled="!model.hasItems">Checkout <i class="material-icons maticon">arrow_forward</i></td>
						</tr>
					</table>
				</div>

<!--Step 2-->
				<div class="cartProductList" id="ship-n-pay" ng-show="model.step == 2">
					<div>{{model.order.firstName}} {{model.order.lastName}} Please provide the following information</div>

					<table>
						<tr>
							<th>Contact information</th>
							<th>Shipping information</th>
							<th>Credit Card information</th>
							<th>Shipping type</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
								<select ng-model="model.order.cardType">
									<option selected>Visa</option>
									<option>Master Card</option>
								</select>
							</td>
							<td>
								<select ng-model="model.order.shippingType">
									<option>Standard</option>
									<option>Express</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="model.order.firstName" placeholder="First Name" /></td>
							<td><input type="text" ng-model="model.order.address" placeholder="Address" /></td>
							<td><input type="text" ng-model="model.order.cardHolder" placeholder="Name on card" /></td>
							<td></td>
						</tr>
						<tr>
							<td> <input type="text" ng-model="model.order.lastName" placeholder="Last Name" /></td>
							<td><input type="text" ng-model="model.order.city" placeholder="City" /></td>
							<td><input type="text" ng-model="model.order.cardNumber" placeholder="Card number" /></td>
							<td></td>
						</tr>
						<tr>
							<td> <input type="email" ng-model="model.order.email" placeholder="Email" /></td>
							<td><input type="text" ng-model="model.order.state" placeholder="State" /></td>
							<td><input type="text" ng-model="model.order.cardExpiration" placeholder="Expiration date" /></td>
							<td></td>
						</tr>
						<tr>
							<td> <input type="text" ng-model="model.order.phone" placeholder="Phone" /></td>
							<td><input type="text" ng-model="model.order.zip" placeholder="Zip" /></td>
							<td><input type="text" ng-model="model.order.cardSecurityCode" placeholder="Security code" /></td>
							<td></td>
						</tr>
					</table>

					<button class="btn" ng-click="model.step = 1">Back</button>
					<button class="btn" ng-click="model.step = 3">Next</button>
				</div>

<!--Step 3-->
				<div id="verify-order" ng-show="model.step == 3">
					<div>Order of {{model.itemCount}} products, total price {{model.total | currency}}</div>
					<br />
					Name: {{model.order.firstName}}, {{model.order.lastName}}, Email: {{model.order.email}}, Phone: {{model.order.phone}}.
					<br />
					Shipping: {{model.order.address}}, {{model.order.city}}, {{model.order.state}}, {{model.order.zip}}, {{model.order.shippingType}}
					<br />
					Payment: {{model.order.cardType}}, {{model.order.cardHolder}}, {{model.order.cardNumber}}, {{model.order.cardExpiration}}, {{model.order.cardSecurityCode}}
					<br />
					<button class="btn" ng-click="model.step = 2">Back</button>
					<button class="btn" ng-click="model.submit()">Place order</button>
				</div>

			</div>
		</div>

		<script src="js/script.min.js"></script>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>