<div class="headerAccessories"></div>
<div class="layout lastAccessories">
	<div class="pageTitle displayText">
		<div>Tabletop & Accessories</div>
	</div>
	<ul ng-repeat="item in product" class="accessoriesContainer">
		<div class="divider"></div>
		<li>
			<div class="accessoriesNameContainer">{{item.name}}</div>
			<div class="horizontalImage"><img ng-src="{{item.decoimage}}"/></div>
		</li>
		<li class="horizontalCtrls">
			<div class="buyBttns left">
				<bttns-hor></bttns-hor>
			</div>
			<div class="price right">{{item.price}}</div>
		</li>
		<li class="description"><p>{{item.description}}</p></li>
	</ul>
</div>