<div class="priceText">{{item.pricebig}}</div>
<div class="buyContainer">
	<div class="roundBttnPlus" style="background-color: {{item.color}};">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
		<path fill="#231F20" d="M19,26.9v-6h-6v-2h6v-6h2v6h6v2h-6v6H19z"/>
		</svg>
	</div>
	<p>Add to Cart</p>
	<p class="count">0</p>
	<div class="roundBttnRemove" style="background-color: {{item.color}};">
		<svg class="remove" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
		<path fill="#231F20" d="M19,26.9v-6h-6v-2h6v-6h2v6h6v2h-6v6H19z"/>
	</div>
	<p>Remove</p>
</div>