<div class="headerInfuse"></div>
<div class="layout">
	<div class="pageTitle displayText">
		<h3>Fused & Infused<br />Extra Virgin Olive Oils</h3>
		<p class="search"><input ng-model="query" placeholder="Search"></p>
	</div>

	<ul ng-repeat="item in product | filter:query" class="productsContainer">
		<div class="divider"></div>
		<li class="oilsNameImgContainer">
			<div class="oilsImage left"><img ng-src="{{item.decoimage}}"/></div>
			<div class="oilsName right"><h4>{{item.name}}</h4></div>
		</li>
		<li class="ctrlsContainer">
			<div class="buyCtrlsLeft">
				<small-bottle></small-bottle>
				<bttns-right></bttns-right>
			</div>
			<div class="buyCtrlsRight">
				<big-bottle></big-bottle>
				<bttns-left></bttns-left>
			</div>
		</li>
		<li class="description"><p>{{item.description}}</p></li>
<!-- 		<li class="motive">
			<img src="images/svg/motive2.svg"/>
		</li> -->
	</ul>
</div>