<div class="headerInfuse"></div>
<div class="layout">
	<div class="pageTitle displayText">
		<p>Fused & Infused Extra Virgin Olive Oils</p>
		<p>Search: <input ng-model="query"></p>
	</div>

	<ul ng-repeat="item in product" class="productsContainer">
		<div class="divider"></div>
		<li class="oilsNameImgContainer">
			<div class="oilsName left">{{item.name}}</div>
			<div class="oilsImage right"><img ng-src="{{item.decoimage}}"/></div>
		</li>
		<li class="ctrlsContainer">
			<div class="buyCtrlsLeft">
				<big-bottle></big-bottle>
				<bttns-left></bttns-left>
			</div>
			<div class="buyCtrlsRight">
				<small-bottle></small-bottle>
				<bttns-right></bttns-right>
			</div>
		</li>
		<li class="description"><p>{{item.description}}</p></li>
	</ul>
</div>