<div class="header">
	<div class="imgText displayText">Gourmet Olive Oils, Aged Balsamics & Related Products</div>
	<div class="actionbanner">
		<div class="motto">Live with taste. Live well.</div>
		<div class="cartinfo">Your Cart</div>
		<div class="totalprice">Total and Checkout bttn</div>
	</div>
</div>
<div class="layout">
	<div class="pageTitle displayText">
		<p>Gift Assortments</p>
	</div>

	<ul ng-repeat="item in product" class="giftsContainer">
		<div class="divider"></div>
		<li class="giftsNameContainer">
			<div>{{item.name}}</div>
		</li>
		<li class="buyCtrlPackageContainer">
			<div class="buyCtrlsLeftGifts">
				<div class="priceText">{{item.pricebig}}</div>
				<div class="buyContainer">
					<div class="roundBttnPlus" style="background-color: {{item.color}};">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
						<path fill="#231F20" d="M19,26.9v-6h-6v-2h6v-6h2v6h6v2h-6v6H19z"/>
						</svg>
					</div>
					<p>Add to Cart</p>
					<p class="count">0</p>
					<div class="roundBttnRemove" style="background-color: {{item.color}};">
						<svg class="remove" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
						<path fill="#231F20" d="M19,26.9v-6h-6v-2h6v-6h2v6h6v2h-6v6H19z"/>
					</div>
					<p>Remove</p>
				</div>
			</div>
			<gifts-container></gifts-container><!-- directive for the div with the svg in templates -->
		</li>
		<div class="description"><p>{{item.description}}</p></div>
	</ul>
</div>