<div class="header">
	<div class="imgText displayText">Gourmet Olive Oils, Aged Balsamics & Related Products</div>
	<div class="actionbanner">
		<div class="motto">Live with taste. Live well.</div>
		<div class="cartinfo">Your Cart</div>
		<div class="totalprice">Total and Checkout bttn</div>
	</div>
</div>
<div class="layout">
	<div class="pageTitle displayText">
		<p>Gift Assortments</p>
	</div>
	<ul ng-repeat="item in product" class="giftsContainer">
		<div class="divider"></div>
		<li class="giftsNameContainer">
			<div>{{item.name}}</div>
		</li>
		<li class="buyCtrlPackageContainer">
			<gifts-container></gifts-container><!-- directive for the div with the svg in templates -->
		</li>
		<div class="description"><p>{{item.description}}</p></div>
	</ul>
</div>