// hack to render svgs properly in IE for img tags
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100%; 
	}
}

html, body {
	overflow-x: hidden;
}

html {
	font-size: 100%;
} // this works with modular-scale font size which is define below

// Typographic scale using golden ratio 1:1.618, modular-scale .
// $ms-base: 1rem;
$ms-base: 0.8rem;
// 1rem = 16px by default.
$ms-ratio: $golden;

$default-text-shadow-color: rgba(#000000, 0.6);
$default-text-shadow-blur: 4px;
$default-text-shadow-v-offset: 2px;

$cartbttnshadow: rgba(black, 0.5) 0px 2px 3px;

// bg gradients
$bg01: #1B1D0E;
$bg01a: rgba(27, 29, 14, 0.8);
// $bg02: #181917;
$bg02: #2B3B22;

//COLORS
$green: #CEE44D;

$textColor: #BCCCB6;

$primaryColor: #8EA286;

$svgLinesOpacity: 0.55;

$motive: #3F5733;

// TYPEFACES

// White text on a black background is a higher contrast to the opposite, so the letterforms need to be wider apart, lighter in weight and have more space between the lines. Increase the leading, tracking and decrease your font-weight

@include font-face("SourceSansReg", font-files("SourceSansPro-Regular.otf"));
@include font-face("SourceSansLight", font-files("SourceSansPro-Light.otf"));
@include font-face("SourceSansBold", font-files("SourceSansPro-Bold.otf"));
@include font-face("SourceSansIt", font-files("SourceSansPro-It.otf"));

$primary-font: 'SourceSansReg';
$primary-fontlight: 'SourceSansLight';
$primary-fontbold: 'SourceSansBold';
$primary-fontit: 'SourceSansIt';
$page-title: 'le-monde-livre-classic-std-s';
$desc-font: 'SourceSansReg';
$product-title: 'SourceSansLight';
$product-price: 'le-monde-livre-classic-std-s';
$display-text: 'le-monde-livre-classic-std-s';

//font weights for expo-serif from typekit
.light { font-weight: 300; }
.normal { font-weight: 400; }
.bold {	font-weight: 700; }

// BANNERS
$bannerLargeVarietal: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.7)), image-url('largeBanner/varietal.jpg');
$bannerLargeInfuse: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/infuse.jpg');
$bannerLargeSpecialty: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/specialty.jpg');
$bannerLargeBalsamics: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/balsamics.jpg');
$bannerLargeSeasonings: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/seasonings.jpg');
$bannerLargeGifts: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/gifts.jpg');
$bannerLargeAccessories: linear-gradient(to bottom right, rgba($bg01, 0.1), rgba($bg02, 0.9)), image-url('largeBanner/accessories.jpg');

body {
	@include background(linear-gradient(180deg, $bg01 32%, $bg02 68%));
}

// #{headings(1,4)} {
// 	font-family: ;
// }

$susy: (
	columns: 12,
	gutters: .7,
	math: fluid,
	output: float,
	gutter-position: inside,
	container: auto,
	container-position: center,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,	
	)
);

$xsmall: 320px; //one column narrow
$small: 760px; //one column wide
$medium: 970px; //two columns
$large: 1200px; //three columns
$xlarge: 1900px; //four columns

.left {
	float: left;
}

.right {
	float: right;
}

p { font-size: ms(0); line-height: ms(1); }

address {
	a {
		text-decoration: none;
		color: $bg01;
	}
}