// hack to render svgs properly in IE for img tags
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100%; 
	}
}

html, body {
	overflow-x: hidden;
}

html {
	font-size: 100%;
} // this works with modular-scale font size which is define below

// Typographic scale using golden ratio 1:1.618, modular-scale .
// $ms-base: 1rem;
$ms-base: 0.8rem;
// 1rem = 16px by default.
$ms-ratio: $golden;

$default-text-shadow-color: rgba(#15160B, 1);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

$cartbttnshadow: rgba(black, 0.5) 0px 2px 3px;

// bg gradients
$bg01: #1F2210;
$bg01a: rgba(27, 29, 14, 0.8);
$bg02: #2B3B22;

//COLORS
$green: #CEE44D;

$textColor: #BCCCB6;

$primaryColor: #8EA286;
$secondaryColor: #5E6B59;

$svgLinesOpacity: 0.55;

$motive: #3F5733;

// TYPEFACES

// White text on a black background is a higher contrast to the opposite, so the letterforms need to be wider apart, lighter in weight and have more space between the lines. Increase the leading, tracking and decrease your font-weight

@include font-face("SourceSansReg", font-files("SourceSansPro-Regular.otf"));
@include font-face("SourceSansLight", font-files("SourceSansPro-Light.otf"));
@include font-face("SourceSansBold", font-files("SourceSansPro-Bold.otf"));
@include font-face("SourceSansIt", font-files("SourceSansPro-It.otf"));

$primary-font: 'SourceSansReg';
$primary-fontlight: 'SourceSansLight';
$primary-fontbold: 'SourceSansBold';
$primary-fontit: 'SourceSansIt';
$page-title: 'le-monde-livre-classic-std-s';
$desc-font: 'SourceSansReg';
$product-title: 'SourceSansLight';
$product-price: 'le-monde-livre-classic-std-s';
$display-text: 'le-monde-livre-classic-std-s';

//font weights for expo-serif from typekit
.light { font-weight: 300; }
.normal { font-weight: 400; }
.bold {	font-weight: 700; }

//HOME SLICK CAROUSEL IMAGES
$slide1: linear-gradient(to right, rgba($bg01, 0.7), rgba($bg02, 0)), image-url('home/salad-plate-olive-oil-sml.jpg');
$slide2: image-url('home/hot-pan-olive-oil-sml.jpg');
$slide3: image-url('home/olive-oil-balsamic-bread-sml.jpg');
$slide4: image-url('home/salad-plate-olive-oil-lrg.jpg');
$slide5: image-url('home/hot-pan-olive-oil-lrg.jpg');
$slide6: image-url('home/olive-oil-balsamic-bread-lrg.jpg');

// BANNERS
$patternVarietal: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeInfuse: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeSpecialty: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeBalsamics: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeSeasonings: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeGifts: image-url('largeBanner/varietal-pattern.jpg');
$bannerLargeAccessories: image-url('largeBanner/varietal-pattern.jpg');

body {
	@include background(linear-gradient(180deg, $bg01 32%, $bg02 68%));
}

// #{headings(1,4)} {
// 	font-family: ;
// }

$susy: (
	columns: 12,
	gutters: .7,
	math: fluid,
	output: float,
	gutter-position: inside,
	container: auto,
	container-position: center,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,	
	)
);

// Breakpoints values
$xsmall: 320px; //one column narrow

$small: 760px; //one column wide

$medium: 970px; //two columns

$large: 1200px; //three columns
$largeMax: 1280px;

$xlarge: 1900px; //four columns
$xlargeMax: 1800px;

.left {
	float: left;
}

.right {
	float: right;
}

p { font-size: ms(0); line-height: ms(1); }

address {
	a {
		text-decoration: none;
		color: $bg01;
	}
}

@mixin links ($fsize, $lheight) {
	color: $primaryColor;
	&:hover {
		color: white;
	}
	font-family: $primary-font;
	font-size: $fsize;
	text-transform: uppercase;
	line-height: $lheight;
	text-decoration: none;
	text-align: center;
}

@mixin bg-properties {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@include single-transition(all, 1s, ease-out);

	@include susy-breakpoint($xsmall) {
		background-position: center center;
	}

	@include susy-breakpoint($large) {
		background-position: left center;
	}
}

@mixin bg-pattern {
	@include single-transition(all, 1s, ease-out);
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	background-position: left top;
	background-repeat: repeat;
}

.sitemenu {
	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.5s, ease-out);
		width: 100%;
		text-align: center;
		position: fixed;
		background-color: $bg01;
		z-index: 1090;

		a {
			@include single-text-shadow;
			display: block;
			padding: 3px 0 7px;
			letter-spacing: 0.08rem;
			@include links(ms(0), 2rem); //arguments font size and line height
		}

		.active {
			font-family: $primary-fontlight;
			opacity: 0.4;
			border-top: 1px solid $green;
			border-bottom: 1px solid $green;
			margin: 10px 0%;
		}

		.navwrapper {
			height: 0px;
			overflow: hidden;
			visibility: hidden;
		}

		.showMenu {
			height: 100%;
			overflow: visible;
			visibility: visible;
			padding: ms(3) ms(2);
		}

		.closeBttnMenu {
			position: fixed;
			top: 10px;
			left: 12px;
			cursor: pointer;
			background-color: none;
			z-index: 2000;
			display: none;

			i {
				color: $green;
			}
		}

		.showBttn {
			display: block;
		}
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.5s, ease-out);

		a {
			font-size: ms(1);
			line-height: 3.3rem;
			padding: 20px 0;
		}
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.5s, ease-out);

		a {
			font-size: ms(1);
			padding: 24px 0;
		}
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
		top: 40px;
		position: fixed;
		background-color: transparent;
		z-index: 1040;

		a {
			font-size: 0.75rem;
			line-height: 2.2rem;
			padding: 2px 16px;
			letter-spacing: 0.07rem;
		}

		.active {
			border-top: 0px;
			border-bottom: 1px solid $green;
			margin: 0px;
		}

		.navwrapper {
			visibility: visible;
			display: table;
			margin: 0 auto;
		}

		.closeBttnMenu {
			display: none;
		}

		.showMenu {
			height: auto;
			padding: 0px;
		}

		ul li {
			float: left;
		}

		.closeBttn {
			display: none;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);
		top: 40px;

		a {
			font-size: 0.75rem;
			line-height: 2.2rem;
			padding: 2px 20px;
			letter-spacing: 0.07rem;
		}
	}
}

.navbg-hidden {
	@include susy-breakpoint($xsmall) {
		will-change: transform;
		@include single-transition(all, 0.9s, ease-out);
		@include transform(translateY(-600px));
		opacity: 0;
	}

	@include susy-breakpoint($small) {

	}

	@include susy-breakpoint($medium) {
		
	}

	@include susy-breakpoint($large) {

	}

	@include susy-breakpoint($xlarge) {

	}
} // class needed to hide the nav menu on scroll

.roundBttnPlus {
	width: 44px;
	height: 44px;
	@include border-radius (50%);
	@include transform (translateX(-50%));
  	margin-left: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	margin-bottom: 5px;
	cursor: pointer;
	
	path {
		fill: #1E0F0F;
	}
}