@include keyframes(pulse) {
	0% { 
		transform: scale(1);
		opacity: 1;
	} 

	25% { 
		transform: scale(0.7);
		opacity: 1;
	} 

	60% { 
		transform: scale(7);
		opacity: 0.9;
	}

	100% { 
		transform: scale(1);
		opacity: 1;
	}
}

.cartBanner {
	background: linear-gradient(to bottom left, rgba($green, 1), rgba($textColor, 1));
	z-index: 1050;

	@include susy-breakpoint($xsmall) {
		@include transition-delay(0.2s);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		position: fixed;
		top: 0px;
		right: 0px;
		width: 44px;
		height: 44px;

		.shopping_cart {
			position: absolute;
			color: $bg01;
			opacity: 1;
			cursor: pointer;
			z-index: 1150;
			right: 0px;

			.cart {
				visibility: visible;
				@include transition-delay(0.4s);
				@include transition-duration(0.2s);
				position: absolute;
				right: 10px;
				top: 10px;
			}

			.close {
				visibility: hidden;
				@include transition-delay(0s);
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}

		&.cartBttn {
			@include transition-delay(0.1s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			width: 100%;
			height: 100vh;
			position: fixed;
			right: 0px;

			.cart {
				visibility: hidden;
				@include transition-delay(0s);
				@include transition-duration(0s);
			}

			.close {
				@include transition-delay(0.3s);
				@include transition-duration(0s);
				visibility: visible;
			}
		}

		.circleTotal {
			@include transition-delay(0.3s);
			@include transition-duration(0s);
			height: 36px;
			width: 36px;
			border-radius: 50%;
			background-color: $green;
			position: absolute;
			right: 26px;
			top: 26px;
			text-align: center;
			z-index: 1200;

				li {
					padding-top: 5px;
					font-family: $display-text;
					font-size: ms(1);
					color: $bg01;
				}
		}

		.circleAnim {
			@include transition-delay(0.2s);
			animation-duration: 0.5s;
			animation-name: pulse;
		}

		.circleHidden {
			visibility: hidden;
			@include transition-delay(0s);
			@include transition-duration(0s);
		}
	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {

	}

	@include susy-breakpoint($large) {
		right: 0px;
		width: 40px;
		height: 40px;

		.shopping_cart {
			padding: 8px;
			@include transform(scale(0.8));
		}

		.circleTotal {
			height: 36px;
			width: 36px;
			right: 22px;
			top: 22px;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include transition-delay(0.3s);
		@include transition-duration(0.3s);
		right: 8vw;

		&.cartBttn {
			@include transition-delay(0.1s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);

			.cart {
				@include transition-delay(0s);
			}

			.close {
				padding-right: 10vw;
			}
		}
	}
}

.cartBannerContent {
	left: 50%;
	@include transform(translateX(-50%));
	background: none;
	overflow: scroll;
	z-index: 1100;

	@include susy-breakpoint($xsmall) {
		@include transition-delay(0.3s);
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);
		position: absolute;
		width: 100%;
		height: 100vh;

		.maticon {
			color: $bg01;
			cursor: pointer;
			font-size: 9px;
		}

		p {
			font-size: ms(0);
		}

		.cartProductList {
			width: 330px;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			top: 40px;
			font-family: $primary-font;
			font-size: ms(0);
			line-height: ms(1);
			color: $bg01;

			.cartBigText {
				font-size: ms(1);
				padding-bottom: ms(1);
			}

			table {
				width: 100%;
			}

			table:nth-of-type(1) {

				td {
					padding: 5px;
				}

				.tableLabels {
					font-size: ms(0);
					opacity: 0.5;
				}

				td:last-child {
					padding-left: 20px;
					text-align: right;
				}

				.cartTotal {
					font-size: ms(1);
					font-weight: 700;
					text-align: right;
					padding: 20px 0px;
				}
			}

			.totalConfirm {
				font-weight: 700;
			}
		}

		.cartCTA {
			width: 100%;
			height: 40px;
			padding: 20px 0px;
			font-family: $primary-font;

			.cartCTAback {
				font-size: ms(0);
				float: left;
				cursor: pointer;
				color: $secondaryColor;
			}

			.cartCTAforward {
				font-size: ms(1);
				float: right;
				cursor: pointer;

				.maticon {
					font-size: 12px;
				}
			}
		}

		.cartinfo {
			font-size: ms(1);
		}

		.totalprice {
			padding-left: 10px;
		}

		.actionText {
			font-size: ms(1);
		}

		.divider2 {
			height: 1px;
			width: 100%;
			display: block;
			opacity: 0.6;
			margin-bottom: 10px;
			background-color: white;
		}

		.addRemoveBttn {
			width: 36px;
			height: 36px;
			@include border-radius (18px);
			cursor: pointer;
			background-color: $green;
		}
	}

	@include susy-breakpoint($small) {
		@include transition-delay(0.3s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);

		.maticon {
			font-size: 12px;
		}

		.cartProductList {
			width: 480px;
			font-size: ms(1);
			line-height: ms(2);

			.cartBigText {
				font-size: ms(2);
			}
		}

		.cartCTA {
			width: 100%;
			height: 40px;
			padding: 20px 0px;

			.cartCTAback {
				font-size: ms(1);
			}

			.cartCTAforward {
				font-size: ms(2);

				.maticon {
					font-size: 16px;
				}
			}
		}

		.addRemoveBttn {
			width: 48px;
			height: 48px;
			@include border-radius (24px);
			cursor: pointer;
			background-color: $green;
		}
	}

	@include susy-breakpoint($medium) {
		@include transition-delay(0.3s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		
		.cartProductList {
			width: 500px;
		}
	}

	@include susy-breakpoint($large) {
		@include transition-delay(0.4s);
		@include transition-duration(0.1s);
		@include transition-timing-function(ease-in);

		.cartProductList {
			width: 500px;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include transition-delay(0.4s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
	}
}

.cartHidden {
	@include transition-delay(0.1s);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	opacity: 0;
	@include transform(translateY(-100vh));
}

.form {
	// max-width: 500px;
	@include susy-breakpoint($xsmall) {
		@include transition-delay(0s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);

		input {
			width: 264px;
			height: 20px;
			background-color: rgba(white, 0.7);
			border: 0px solid;
			padding: 6px;
			font-size: ms(0);
			margin: 4px 2px;
		}

		.input-error {
			color: red;
			margin: 0px 4px;
		}

		.select {
			// font-size: 11px; //dont delete this are the two option all browsers give you for font size
			font-size: ms(1); //dont delete
		}

		p {
			font-size: ms(0);
		}

		.general {
			padding-bottom: 14px;
		}

		.billing {
			@extend .general;
		}

		.shipping {
			input:nth-of-type(1) {
				height: 30px;
				width: 24px;
				float: left;
				padding-right: 10px;
			}
			@extend .general;
		}

		.zip {
			width: 45%;
		}

		.phone {
			@extend .zip;
		}

		&.tarjetaInformation {
			width: 75%;

			.shortfield {
				width: 35%;
			}
		}

		.input-sample {
			color: white;
			opacity: 0.6;
			font-size: ms(0);
		}
	}

	@include susy-breakpoint($small) {
		@include transition-delay(0s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);

		input {
			width: 420px;
		}
	}

	@include susy-breakpoint($medium) {
		@include transition-delay(0s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);

		input {
			width: 90%;
		}
	}

	@include susy-breakpoint($large) {
		@include transition-delay(0s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);

		input {
			width: 90%;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include transition-delay(0s);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-out);
	}
}

.confirmLabel {
	color: white;
}

// .emptyShell {

// 	@include susy-breakpoint($xsmall) {
// 		@include transition-delay(0s);
// 		@include transition-duration(0.2s);
// 		@include transition-timing-function(ease-in);
// 	}

// 	@include susy-breakpoint($small) {
// 		@include transition-delay(0s);
// 		@include transition-duration(0.2s);
// 		@include transition-timing-function(ease-in);
// 	}

// 	@include susy-breakpoint($medium) {
// 		@include transition-delay(0s);
// 		@include transition-duration(0.2s);
// 		@include transition-timing-function(ease-in);
// 	}

// 	@include susy-breakpoint($large) {
// 		@include transition-delay(0s);
// 		@include transition-duration(0.2s);
// 		@include transition-timing-function(ease-in);
// 	}

// 	@include susy-breakpoint($xlarge) {
// 		@include transition-delay(0s);
// 		@include transition-duration(0.2s);
// 		@include transition-timing-function(ease-in);
// 	}
// }