.displayText {
	font-family: $display-text;
	text-align: center;
	z-index: 99;
} //this is for the name of each page

.hours {
	font-family: $display-text;
	font-size: 2rem;
	padding-bottom: 10px;
}

.imgText {
	@include susy-breakpoint($xsmall) {
	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include single-text-shadow;
		@include transform(translateX(-50%));
		left: 50%;
		color: $textColor;
		text-transform: uppercase;
		font-family: $primary-font;
		font-size: $font-medium;
		line-height: 2.1rem;
		letter-spacing: 0.3em;
		text-align: center;
		z-index: 99;
		top: 50%;
		position: fixed;
		width: 80%;
	}

	@include susy-breakpoint($xlarge) {
	}
} //intro text under logo

.slogan {
	@include susy-breakpoint($xsmall) {

	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(12 of 12);
		padding: 0px;
		color: white;
		font-family: $display-text;
		font-size: ms(3);
		letter-spacing: 0.05rem;
		z-index: 99;
		opacity: 1;
		position: relative;
		@include transform(translateY(10vh));

		#spacer {
			@include span(2 of 12);
			padding: 0px;
			height: 1px;
			color: transparent;
		} //spacer div
	}

	@include susy-breakpoint($xlarge) {
	}
}