.displayText {
	text-transform: uppercase;
	font-family: $display-text;
	text-align: center;
	z-index: 99;
} //this is for the name of each page

.imgText {
	@include susy-breakpoint($xsmall) {
	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include single-text-shadow;
		@include transform(translateX(-50%));
		left: 50%;
		color: $textColor;
		text-transform: uppercase;
		font-family: $display-text;
		font-size: $font-medium;
		line-height: 2.1rem;
		letter-spacing: 0.3em;
		text-align: center;
		z-index: 99;
		top: 50%;
		position: fixed;
		width: 80%;
	}

	@include susy-breakpoint($xlarge) {
	}
} //intro text under logo

.slogan {
	@include susy-breakpoint($xsmall) {

	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include transform(translateX(-50%));
		color: $textColor;
		font-family: $primary-fontlight;
		font-size: $title;
		line-height: 2.5rem;
		letter-spacing: 0.05em;
		text-align: center;
		z-index: 99;
		top: 70%;
		position: fixed;
		left: 50%;
		width: 80%;
		opacity: 0.5;
	}

	@include susy-breakpoint($xlarge) {
	}
}