.displayText {
	font-family: $display-text;
	text-align: center;
	z-index: 99;
} //this is for the name of each page

.hours {
	font-family: $display-text;
	font-size: ms(1);
	padding-bottom: 10px;
}

.slogan {
	@include susy-breakpoint($xsmall) {
		@include span (8 of 12);
		@include single-transition(all, 0.3s, ease-out);
		@include single-text-shadow;
		color: white;
		font-family: $display-text;
		z-index: 99;
		padding: ms(1) 0px 0px ms(1);
		font-size: ms(1);
		line-height: ms(2);
		letter-spacing: 0.08rem;
		position: relative;

		#spacer {
			width: 0px;
			padding: 0px;
			height: 0px;
			color: transparent;
		} //2 column spacer div
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.3s, ease-out);
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.3s, ease-out);
	}

	@include susy-breakpoint($large) {
		@include span (6 of 12);
		@include single-transition(all, 0.3s, ease-out);
		@include span(12 of 12);
		padding: ms(2) 0px 0px 0px;
		font-size: ms(2);
		letter-spacing: 0.1rem;
		position: relative;

		#spacer {
			@include span(2 of 12);
			padding: 0px;
			height: 25vh;
			color: transparent;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 0.3s, ease-out);
		font-size: ms(3);
		letter-spacing: 0.1rem;
		@include transform(translateY(ms(4)));
	}
}

.imgText {
	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.2s, ease-out);
		color: white;
		text-transform: uppercase;
		font-family: $primary-font;
		font-size: ms(0);
		line-height: ms(0);
		letter-spacing: 0.07rem;
		text-align: left;
		padding-top: ms(0);
		z-index: 99;
	}

	@include susy-breakpoint($small) {
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		font-size: ms(0);
		line-height: ms(2);
		letter-spacing: 0.1rem;
		padding-top: ms(0);
	}

	@include susy-breakpoint($xlarge) {

	}
}

.introText {
	@include susy-breakpoint($xsmall) {
		@include span (12 of 12);
		@include single-transition(all, 0.2s, ease-out);
		color: $primaryColor;

		font-family: $primary-font;
		font-size: ms(0);
		line-height: ms(0);
		letter-spacing: 0.05rem;

		text-align: center;
		padding: 0px ms(1) ms(3);
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.2s, ease-out);
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.2s, ease-out);
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include span (6 of 12);
		@include transform(translateX(-50%));
		left: 50%;
		position: relative;
		text-align: left;

		p {
			font-family: $primary-fontlight;
			font-size: ms(0);
			line-height: ms(2);
			letter-spacing: 0.1rem;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include span (8 of 12);
		@include single-transition(all, 0.2s, ease-out);
	}	
}

.promogroup {
	@include transform(translateX(-50%));
	left: 50%;
	position: relative;

	@include susy-breakpoint($xsmall) {
		.promo {
			@include span (12 of 12);
			padding: 0px;
			.row {
				display: flex;
				justify-content: center;

				.img {
					@include transform (scale(0.4));
					width: 76px;
				}

				p {
					font-family: $display-text;
					font-size: ms(1);
					line-height: ms(2);
					letter-spacing: 0.07rem;
					color: $textColor;
					max-width: 260px;
					text-align: center;
				}

				.infoText {
					font-family: $primary-font;
					font-size: ms(0);
					line-height: ms(1);
					letter-spacing: 0.03rem;
					color: $secondaryColor;
					opacity: 0.8;
				}

				a {
					@include single-text-shadow;
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(4);
				}

				&.two {
					height: ms(3);
					padding-top: ms(0);
				}

				&.three {
					height: ms(4);
				}

				&.four {
					height: ms(4);
				}

				&.five {
					height: ms(4);
				}
			}

			&.one {
				.one {
					.svg {
						width: 74px;
					}
				}
			}

			&.two {
				.one {
					.svg {
						width: 62px;
					}
				}
			}

			&.three {
				.one {
					.svg {
						width: 86px;
						@include transform (translateY(40px));
					}
				}
			}

			&.four {
				.one {
					.svg {
						&.one {
							width: 130px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 80px;
							@include transform (translate(-24px, 80px) rotate(7deg));
						}
					}
				}

				.three {
					padding-top: ms(2);
					height: ms(3);
				}
			}
		}
	}

	@include susy-breakpoint($small) {
		.promo {
			@include span (12 of 12);
		}
	}

	@include susy-breakpoint($medium) {
		.promo {
			@include span (6 of 12);
		}
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(12 of 12);
		padding: 0px;
		height: ms(7);

		.promo {
			@include span (3 of 12);
			padding: 0px;
			.row {
				display: flex;
				justify-content: center;

				.img {
					@include transform (scale(0.4));
					width: 70px;
				}

				p {
					font-family: $display-text;
					font-size: ms(1);
					line-height: ms(2);
					letter-spacing: 0.07rem;
					color: $textColor;
					max-width: 260px;
					text-align: center;
				}

				.infoText {
					font-family: $primary-font;
					font-size: ms(0);
					line-height: ms(1);
					letter-spacing: 0.03rem;
					color: $primaryColor;
				}

				a {
					@include single-text-shadow;
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(4);
				}

				&.two {
					height: ms(3);
					padding-top: ms(1);
				}

				&.three {
					height: ms(4);
				}

				&.four {
					height: ms(4);
				}

				&.five {
					height: ms(3);
				}
			}

			&.one {
				.one {
					.svg {
						width: 80px;
					}
				}
			}

			&.two {
				.one {
					.svg {
						width: 68px;
					}
				}
			}

			&.three {
				.one {
					.svg {
						width: 80px;
						@include transform (translateY(48px));
					}
				}
			}

			&.four {
				.one {
					.svg {
						&.one {
							width: 130px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 80px;
							@include transform (translate(-24px, 80px) rotate(7deg));
						}
					}
				}

				.three {
					padding-top: ms(1);
					height: ms(3);
				}

				.four {
					padding-bottom: ms(0);
				}
			}
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(10 of 12);
		height: ms(8);

		.promo {
			.row {
				.svg {
					width: 110px;
				}

				.img {
					width: 110px;
					@include transform (scale(0.6));
				}

				p {
					font-size: ms(2);
					padding: 0px;
					max-width: 360px;
				}

				.infoText {
					font-size: ms(0);
					margin-top: ms(1);
					line-height: ms(1);
				}

				&.one {

					height: 180px;
				}

				&.two {
					height: ms(4);
					@include transform(translateY(-30%) scale(0.9));
				}

				&.three {
					height: ms(3);
				}

				&.four {
					height: ms(4);
				}

				&.five {
					height: ms(3);
				}
			}

			&.one {
				.one {
					.svg {
						width: 120px;
					}
				}
			}

			&.two {
				.one {
					.svg {
						width: 100px;
					}
				}
			}

			&.three {
				.one {
					.svg {
						width: 140px;
						@include transform (translateY(60px));
					}
				}
			}

			&.four {
				.one {
					.svg {
						&.one {
							width: 220px;
							@include transform (translate(-6px, -10px) rotate(-2deg));
						}

						&.two {
							width: 110px;
							@include transform (translate(-40px, 145px) rotate(7deg));
						}
					}
				}
			}
		}
	}
}

.shippingText {
	@include susy-breakpoint($xsmall) {
		@include span(12 of 12);
		padding-top: ms(2);
		padding-bottom: ms(1);

		p {
			font-family: $display-text;
			font-size: ms(0);
			letter-spacing: 0.04rem;
			color: $secondaryColor;
			text-align: center;
		}
	}	
}