.displayText {
	font-family: $display-text;
	text-align: center;
	z-index: 99;
} //this is for the name of each page

.hours {
	font-family: $display-text;
	font-size: ms(1);
	padding-bottom: 10px;
}

.slogan {
	@include susy-breakpoint($xsmall) {
		@include span (12 of 12);
		@include single-transition(all, 0.3s, ease-out);
		@include single-text-shadow;
		color: white;
		font-family: $display-text;
		z-index: 99;
		padding: ms(2) 40vw 0px ms(1);
		font-size: ms(1);
		line-height: ms(2);
		letter-spacing: 0.08rem;
		position: relative;

		a {
			@include single-text-shadow;
			@include links(ms(0), 2rem); //arguments font size and line height
		}
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.3s, ease-out);
		max-width: 400px;
		// padding: ms(3) 0px 0px ms(1);
		font-size: ms(3);
		line-height: ms(3);
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.3s, ease-out);

	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.3s, ease-out);
		@include span (12 of 12); //don't fucking delete this, we needed this here to overwrite the previous padding
		max-width: $largeMax;
		letter-spacing: 0.1rem;
		position: relative;
		@include transform(translate(-50%, ms(4)));
		left: 50%;
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 0.3s, ease-out);
		max-width: $xlargeMax;
		@include transform(translate(-50%, ms(4)));
		left: 50%;
	}
}

.imgText {
	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.2s, ease-out);
		color: white;
		font-family: $primary-font;
		font-size: ms(0);
		line-height: ms(0);
		letter-spacing: 0.06rem;
		text-align: left;
		padding-top: ms(0);
		padding-right: ms(1);
		z-index: 99;
	}

	@include susy-breakpoint($small) {
		line-height: ms(1);
		letter-spacing: 0.04rem;
		padding-top: ms(1);
	}

	@include susy-breakpoint($medium) {
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		font-size: ms(0);
		line-height: ms(1);
		letter-spacing: 0.1rem;
		padding-top: ms(0);
		max-width: 340px;
	}

	@include susy-breakpoint($xlarge) {

	}
}

.introText {
	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.2s, ease-out);	
		display: none;
	}

	@include susy-breakpoint($small) {
		@include span (12 of 12);
		@include single-transition(all, 0.2s, ease-out);
		display: inline;
		@include transform(translateX(-50%));
		left: 50%;
		position: relative;
		max-width: 480px;
		padding-bottom: ms(3);
		color: $secondaryColor;

		p {
			font-family: $primary-fontlight;
			font-size: ms(0);
			line-height: ms(1);
			letter-spacing: 0.04rem;
			text-align: center;
		}
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.2s, ease-out);
		display: none;		
		// max-width: 520px;
		// padding-bottom: ms(3);

		// p {
		// 	font-size: ms(0);
		// 	line-height: ms(1);
		// 	letter-spacing: 0.04rem;
		// }
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		display: inline;
		@include span (6 of 12);
		max-width: 640px;

		p {
			font-size: ms(0);
			line-height: ms(1);
			letter-spacing: 0.07rem;
			text-align: left;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include span (8 of 12);
		@include single-transition(all, 0.2s, ease-out);
		padding-bottom: ms(4);
		max-width: 680px;
	}	
}

.promogroup {
	@include transform(translateX(-50%));
	left: 50%;
	position: relative;

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.2s, ease-out);

		.promo {
			@include span (12 of 12);

			.row {
				display: flex;
				justify-content: center;

				.infoText {
					padding: ms(1) ms(2) ms(0);

					p {
						font-family: $primary-font;
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.03rem;
						color: $primaryColor;
						text-align: center;
					}
				}

				td {
					text-align: center;
					padding: ms(0) ms(0) 0px;

					img {
						// @include transform (scale(0.4));
						object-fit: contain;
						height: ms(3);
					}

					p {
						font-family: $primary-font;
						font-size: ms(0);
						line-height: ms(0);
						letter-spacing: 0.03rem;
						color: $secondaryColor;
						text-align: center;
						text-transform: uppercase;
					}
				}

				a {
					@include single-text-shadow;
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(3);

					p {
						font-family: $display-text;
						font-size: ms(1);
						line-height: ms(2);
						letter-spacing: 0.07rem;
						color: $textColor;
						width: 100%;
						max-width: 260px;
						text-align: center;
					}

				}

				&.two {
					height: ms(4);
				}

				&.three {
					height: auto;
				}

				&.four {
					height: ms(5);
				}

				&.five {
					height: ms(4);
				}
			}

			&.one {
				.two {
					.svg {
						width: 74px;
					}
				}
			}

			&.two {
				.two {
					.svg {
						width: 62px;
					}
				}
			}

			&.three {
				.two {
					.svg {
						width: 86px;
						@include transform (translateY(40px));
					}
				}
			}

			&.four {
				.two {
					.svg {
						&.one {
							width: 130px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 80px;
							@include transform (translate(-24px, 80px) rotate(7deg));
						}
					}
				}

				.three {
					height: ms(4);
				}

				.four {
					height: auto;
				}
			}
		}
	}


// SMALL BREAKPOINT

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.2s, ease-out);

		.promo {
			@include span (12 of 12);

			.row {
				.infoText {
					padding: ms(1) 20vw 0px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.03rem;
					}
				}

				td {
					padding: ms(0) ms(1) 0px;

					img {
						height: 80px;
					}
				}

				&.one {
					p {
						font-size: ms(2);
						line-height: ms(2);
						letter-spacing: 0.07rem;
						max-width: 360px;
					}

				}

				&.two {
					height: ms(4);
				}

				&.four {
					height: auto;
				}

				&.five {
					padding-top: ms(1);
				}
			}

			&.one {
				.two {
					.svg {
						width: 80px;
					}
				}
			}

			&.two {
				.two {
					.svg {
						width: 70px;
					}
				}

				.four {
					img {
						height: 60px;
					}
				}
			}

			&.three {
				.two {
					.svg {
						width: 110px;
						@include transform (translateY(30px));
					}
				}
			}

			&.four {
				.two {
					.svg {
						&.one {
							width: 180px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 96px;
							@include transform (translate(-24px, 112px) rotate(7deg));
						}
					}
				}

				.three {
					height: ms(5);
				}
			}
		}
	}


// MEDIUM BREAKPOINT

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(12 of 12);

		.promo {
			@include span (6 of 12);

			.row {
				.infoText {
					padding: ms(1) ms(2) 0px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.03rem;
					}
				}

				td {
					img {
						height: 70px;
					}

					p {
						font-size: ms(0);
						line-height: ms(0);
						letter-spacing: 0.03rem;
					}
				}

				a {
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(3);

					p {
						font-size: ms(2);
						line-height: ms(2);
						letter-spacing: 0.07rem;
						max-width: 360px;
					}

				}

				&.two {
					height: ms(4);
				}

				&.three {
					height: ms(4);
				}

				&.four {
					height: ms(5);
				}

				&.five {
					height: ms(4);
					padding-top: 0px;
				}
			}

			&.one {
				.two {
					.svg {
						width: 74px;
					}
				}
			}

			&.two {
				.two {
					.svg {
						width: 62px;
					}
				}

				.four {
					img {
						height: 60px;
					}
				}
			}

			&.three {
				.two {
					.svg {
						width: 86px;
						@include transform (translateY(40px));
					}
				}
			}

			&.four {
				.two {
					.svg {
						&.one {
							width: 180px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 90px;
							@include transform (translate(-24px, 110px) rotate(7deg));
						}
					}
				}

				.three {
					padding-top: ms(3);
					height: ms(4);
				}

				.four {
					height: ms(4);
				}
			}
		}
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(12 of 12);
		height: auto;

		.promo {
			@include span (3 of 12);

			.row {
				.infoText {
					padding: ms(1) 0px 0px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.03rem;
						min-width: 230px;
					}
				}

				td {
					text-align: center;
					padding: ms(0) 9px 0px;

					img {
						height: 56px;
					}

					p {
						font-size: ms(0);
						line-height: ms(0);
						letter-spacing: 0.03rem;
					}
				}

				a {
					@include single-text-shadow;
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(3);

					p {
						font-family: $display-text;
						font-size: ms(1);
						line-height: ms(2);
						letter-spacing: 0.07rem;
						color: $textColor;
						min-width: 230px;
						text-align: center;
					}
				}

				&.two {
					height: ms(4);
				}

				&.three {
					height: ms(4);
				}

				&.four {
					height: ms(5);
				}

				&.five {
					height: ms(3);
				}
			}

			&.one {
				.two {
					.svg {
						width: 80px;
					}
				}
			}

			&.two {
				.two {
					.svg {
						width: 68px;
					}
				}

				.four {
					img {
						height: 48px;
					}
				}
			}

			&.three {
				.two {
					.svg {
						width: 80px;
						@include transform (translateY(48px));
					}
				}
			}

			&.four {
				.two {
					.svg {
						&.one {
							width: 130px;
							@include transform (translateX(-6px) rotate(-3deg));
						}

						&.two {
							width: 80px;
							@include transform (translate(-24px, 80px) rotate(7deg));
						}
					}
				}

				.three {
					padding-top: ms(1);
					height: ms(3);
				}

				.four {
					padding-bottom: ms(0);

					p {
						padding-top: ms(1);
					}
				}
			}
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 0.2s, ease-out);
		@include span(12 of 12);
		height: auto;

		.promo {
			.row {
				.infoText {
					padding: ms(1) 0px 0px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.03rem;
					}
				}

				td {
					text-align: center;
					padding: ms(0) ms(0) 0px;

					img {
						height: 62px;
					}

					p {
						font-size: ms(0);
						line-height: ms(0);
						letter-spacing: 0.03rem;
					}
				}

				&.one {
					height: ms(4);

					p {
						font-size: ms(2);
						padding: 0px;
						max-width: 420px;
					}
				}

				&.two {
					height: ms(5);

					p {
						@include transform(translateY(-50%));
						top: 50%;
						position: relative;
					}
				}

				&.three {
					height: ms(4);
				}

				&.four {
					height: ms(5);
				}

				&.five {
					height: ms(3);
				}
			}

			&.one {
				padding-left: 0px;
				.two {
					.svg {
						width: 120px;
					}
				}
			}

			&.two {
				.two {
					.svg {
						width: 100px;
					}
				}

				.four {
					img {
						height: 52px;
					}
				}
			}

			&.three {
				.two {
					.svg {
						width: 140px;
						@include transform (translateY(60px));
					}
				}
			}

			&.four {
				padding-right: 0px;
				.two {
					.svg {
						&.one {
							width: 210px;
							@include transform (translate(-6px, -15px) rotate(-2deg));
						}

						&.two {
							width: 110px;
							@include transform (translate(-40px, 125px) rotate(7deg));
						}
					}
				}

				.three {
					padding-top: ms(2);
					height: ms(3);
				}

				.four {
					padding-bottom: 0px;

					p {
						padding-top: ms(2);
					}
				}				
			}
		}
	}
}

.shippingText {
	@include susy-breakpoint($xsmall) {
		@include span(12 of 12);
		padding-bottom: ms(1);

		p {
			font-family: $display-text;
			font-size: ms(0);
			letter-spacing: 0.04rem;
			color: $secondaryColor;
			text-align: center;
		}
	}	

	@include susy-breakpoint($large) {
		@include span(12 of 12);
		padding-top: ms(2);
		padding-bottom: ms(1);

		p {
			font-family: $display-text;
			font-size: ms(0);
			letter-spacing: 0.04rem;
			color: $secondaryColor;
			text-align: center;
		}
	}	
}