.displayText {
	font-family: $display-text;
	text-align: center;
	z-index: 99;
} //this is for the name of each page

.hours {
	font-family: $display-text;
	font-size: ms(1);
	padding-bottom: 10px;
}

// .introText {
// 	@include susy-breakpoint($xsmall) {
// 		@include span (12 of 12);
// 		@include single-transition(all, 0.2s, ease-out);
// 		@include transform(translateX(-50%));
// 		left: 50%;
// 		position: relative;
// 		max-width: 320px;
// 		padding-bottom: ms(2);
// 		color: $secondaryColor;

// 		p {
// 			font-family: $primary-fontlight;
// 			font-size: ms(0);
// 			line-height: ms(1);
// 			letter-spacing: 0.04rem;
// 			text-align: left;
// 		}
// 	}

// 	@include susy-breakpoint($small) {
// 		@include span (12 of 12);
// 		@include single-transition(all, 0.2s, ease-out);
// 		@include transform(translateX(-50%));
// 		left: 50%;
// 		position: relative;
// 		max-width: 480px;
// 		padding-bottom: ms(4);
// 		color: $secondaryColor;
// 	}

// 	@include susy-breakpoint($medium) {
// 		@include single-transition(all, 0.2s, ease-out);
// 		padding-bottom: ms(4);
// 		max-width: 520px;
// 	}

// 	@include susy-breakpoint($large) {
// 		@include single-transition(all, 0.2s, ease-out);
// 		display: inline;
// 		@include span (6 of 12);
// 		max-width: 640px;

// 		p {
// 			letter-spacing: 0.07rem;
// 		}
// 	}

// 	@include susy-breakpoint($xlarge) {
// 		@include span (4 of 12);
// 		@include single-transition(all, 0.2s, ease-out);
// 		padding-bottom: ms(4);
// 		max-width: 850px;

// 		p {
// 			font-size: ms(1);
// 			line-height: ms(2);
// 			letter-spacing: 0.07rem;
// 		}
// 	}	
// }

.promogroup {
	@include span(12 of 12);
	position: relative;
	@include transform(translateX(-50%));
	left: 50%;
	text-align: center;

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 0.2s, ease-out);

		.promo {
			.row {
				img {
					object-fit: contain;
				}

				a {
					@include single-text-shadow;
					@include links(ms(0), 2rem); //arguments font size and line height
				}

				&.one {
					// background-color: gray;
					height: ms(3);
				}

				&.two {
					height: ms(4);

					p {
						font-family: $display-text;
						font-size: ms(1);
						line-height: ms(2);
						letter-spacing: 0.07rem;
						color: $textColor;
					}
				}

				&.three {
					height: auto;
				}
			}

			&.one {
				img {
					height: 55px;
				}
			}

			&.two {
				img {
					height: 75px;
				}
			}

			&.three {
				img {
					height: 70px;
				}
			}

			&.four {
				img {
					height: 75px;
				}
			}

			&.five {
				img {
					height: 75px;
				}
			}

			&.six {
				img {
					height: 70px;
				}
			}

			&.seven {
				img {
					height: 100px;
				}
			}

			// &.four {
			// 	.two {
			// 		.svg {
			// 			&.one {
			// 				width: 78px;
			// 				@include transform (translateX(-6px) rotate(-2deg));
			// 			}

			// 			&.two {
			// 				width: 80px;
			// 				@include transform (translate(10px, 80px) rotate(7deg));
			// 			}
			// 		}
			// 	}

			// 	.three {
			// 		height: ms(4);
			// 	}

			// 	.four {
			// 		height: auto;
			// 	}
			// }
		}

		.weddingContainer {
			@include span(12 of 12);

			.weddingText {
				padding: 0px ms(2);

				p:first-of-type {
					font-family: $display-text;
					font-size: ms(1);
					line-height: ms(1.3);
					@include transform(translateY(-204px));
				}

				p {
					font-family: $primary-font;
					font-size: ms(-0.2);
					line-height: ms(0.2);
					@include transform(translateY(-160px));
				}
			}

			img {
				width: 302px;
			}
		}

		.introText {
			@include span(12 of 12);

			p {
				font-family: $primary-fontlight;
				font-size: ms(0);
				line-height: ms(1);
				letter-spacing: 0.04rem;
				text-align: left;
			}
		}

		.corporateContainer {
			@include span(12 of 12);

			.corporateText {
				padding: 0px ms(2);

				p:first-of-type {
					font-family: $display-text;
					font-size: ms(1);
					line-height: ms(1.5);
					@include transform(translateY(-214px));
				}

				p {
					font-family: $primary-font;
					font-size: ms(-0.2);
					line-height: ms(0);
					@include transform(translateY(-128px));
				}
			}

			img {
				width: 300px;
			}
		}
	}


// SMALL BREAKPOINT

	@include susy-breakpoint($small) {
		@include single-transition(all, 0.2s, ease-out);

	}


// MEDIUM BREAKPOINT

	@include susy-breakpoint($medium) {
		@include single-transition(all, 0.2s, ease-out);

	}

// LARGE BREAKPOINT

	@include susy-breakpoint($large) {
		@include single-transition(all, 0.2s, ease-out);
		height: auto;

	}

// EXTRALARGE BREAKPOINT

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 0.2s, ease-out);
		height: auto;

		.promo {
			@include span(1.7 of 12);
			.row {
				&.one {
					height: ms(4);
				}

				&.two {
					height: ms(4);
				}

				&.three {
					height: ms(4);
				}
			}

			&.one {
				padding-left: 0px;
			}

			&.seven {
				padding-right: 0px;
			}

			// &.four {
			// 	.two {
			// 		.svg {
			// 			&.one {
			// 				width: 116px;
			// 				@include transform (translate(-6px, -15px) rotate(-2deg));
			// 			}

			// 			&.two {
			// 				width: 110px;
			// 				@include transform (translate(16px, 125px) rotate(7deg));
			// 			}
			// 		}
			// 	}				
			// }
		}
	}
}

.shippingText {
	@include susy-breakpoint($xsmall) {
		@include span(12 of 12);
		padding-bottom: ms(1);

		p {
			font-family: $display-text;
			font-size: ms(0);
			letter-spacing: 0.04rem;
			color: $secondaryColor;
			text-align: center;
		}
	}	

	@include susy-breakpoint($large) {
		@include span(12 of 12);
		padding-top: ms(2);
		padding-bottom: ms(1);

		p {
			font-family: $display-text;
			font-size: ms(0);
			letter-spacing: 0.04rem;
			color: $secondaryColor;
			text-align: center;
		}
	}	
}