.divider {
	height: 1px;
	width: 100%;
	display: block;
	opacity: 0.6;
	margin-bottom: 24px;
	background-color: transparent;
}

.layout {
// -------------------------- XSMALL --------------------------

	@include susy-breakpoint($xsmall){
		@include single-transition(all, 1s, ease-out);
		@include container;
	  	// max-width: 320px;
	  	color: $textColor;

		$xsmlContainer: 5%; // this will change the width of the containers for all products in this breakpoint

		.pageTitle {
			padding: ms(2) $xsmlContainer ms(1);
			font-family: $page-title;
			font-size: ms(1);
			line-height: ms(2);
			letter-spacing: 0.1rem;

			.search {
				opacity: 0.8;
				font-size: ms(1);
				text-transform: lowercase;
			}

			input {
				width: 180px;
				height: 24px;
				background-color: rgba(white, 0.7);
				border: 0px solid;
				@include border-radius (4px);
				padding: 6px;
				font-size: ms(0);
				margin: 32px 2px 4px;
			}
		}

		.productsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(12 of 12);
			padding: 10px $xsmlContainer;
			font-family: $primary-font;
			font-size: ms(0);
			line-height: ms(0);
			text-align: center;

			// li:nth-child(2) {
			// 	height: 84px;
			// } // product name selected by root position
		}

		.oilsNameImgContainer {
			height: 70px; // use this height to move the bottles up

			.oilsName {
				width: 50%;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(1);
				text-align: right;
				text-transform: uppercase;
			}

			.oilsImage {
				width: 40%;
				height: 50px; // this height is needed to even the two bottles
				@include transform (scale(0.7));
				@include transform-origin(0, 0);
			}
		}

		.ctrlsContainer {
			height: 380px;

			.buyCtrlsLeft {
				float: left;
				width: 98px;
				padding-left: 14vw;
			} // left side div with big bottle, price and buttons

			.buyCtrlsRight {
				padding-right: 14vw;
				float: right;
				width: 98px;
			} // right side div with big bottle, price and buttons

			.buyCtrlsSpecial {
				width: 58px;
				position: relative;
				top: 70px;
				left: 50%;
				@include transform (translateX(-50%));
				
				.bottleContainerSpecial {
					height: 66px;
					opacity: $svgLinesOpacity;
				} // container for the svg

				.oilsBuyContainer {
					.sizeText {
						padding-top: 35px;
					}

					p {
						padding-bottom: 2px;
					}
				}

				.special {
					@include transform(translateX(-10px));
				}
			} // special bottle, price and buttons in Specialty
		}

		.oilsBuyContainerLeft {
			p {
				padding: 5px 0px 0px;
				font-size: ms(0);
				font-family: $primary-font;
				line-height: ms(1);
				@include transform (translateY(-52px));
				color: $primaryColor;
			}

			.bigPlusBttn {
				width: 48px;
				height: 48px;
				@include border-radius(50%);
				@include transform (translate(-50%, -52px));
			  	margin-left: 50%;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
				margin-bottom: 5px;
				cursor: pointer;
				
				path {
					fill: #1E0F0F;
				}
			}
		} // container for plus bttn and texts for the big bottle, only for add to cart

		.oilsBuyContainer p {
			padding: 5px 0px 5px;
			font-size: 0.8rem;
			color: $primaryColor;
		} // container for plus bttn and texts for the small bottle, only for add to cart

		.bottlesContainer {
			height: 140px;
			opacity: $svgLinesOpacity;

			img {
				@include transform(translateY(-45px) scale(0.7));
			}
		} // container for the svg

		.description {
			font-family: $desc-font;
			font-size: ms(0);
			line-height: ms(0);
			letter-spacing: 0.03rem;
			text-align: left;
			opacity: 1;
			overflow: hidden;
			border-bottom: none;
			border-bottom-color: $motive;
			border-bottom-width: 1px;
			padding: 0px 0px ms(2);
			color: $textColor;
		}

//Seasonings Section

		.seasoningsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(12 of 12);
			padding: 10px $xsmlContainer;
			// this font values are for buy ctrls texts
			font-family: $primary-font;
			font-size: 1rem;
			line-height: 1.3em;
			text-align: center;

			// Product Name (it's being selected by root position)
			li:nth-child(2) {
				font-family: $product-title;
				font-size: 1.7rem;
				padding: 10px 0px 20px;
				text-align: left;
			}
		}

		.seasoningsCtrlSvgWrapper {
			height: 250px;
	
			.oilsBuyContainerLeft p {
				@include transform (translateY(2px));
				padding-bottom: 5px;
			}

			.bigPlusBttn {
				@include transform (translate(-50%, 2px));
			}

			.priceText {
				padding-top: 44px;
			}
		}

		.seasoningsNameImgContainer {
			height: 120px;
		}

		.seasoningsNames {
			width: 50%;
			font-family: $primary-fontlight;
			font-size: ms(1);
			line-height: ms(1);
			text-align: right;
			text-transform: uppercase;
		}

		.seasoningsImage {
			width: 45%;
			@include transform(scale(0.8));
			@include transform-origin(0, 0);
		}

		.seasoningsPackageContainer {
			width: 120px;
			height: 28px;
			@include transform (translateX(-50%));
			left: 50%;
			position: relative;
			opacity: $svgLinesOpacity;

			&.jar {
				width: 165px;
				top: -48px;
			}

			&.plasticsack {
				width: 220px;
				top: -30px;
			}
		}

//Gifts Section

		.giftsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(12 of 12);
			padding: 10px $xsmlContainer;

			.giftsNameContainer {
				height: ms(4);
				margin-top: ms(2);
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(1);
				text-align: right;
				// text-transform: uppercase;
				font-variant: small-caps;
			}
		}
		
		.giftTwoBottlesCtrlSvgWrapper {
			height: 270px;

			.buyCtrlsLeftGifts {
				width: 30%;
				text-align: center;
		
				.oilsBuyContainerLeft p {
					@include transform (translateY(32px));
				}

				.bigPlusBttn {
					@include transform (translate(-50%, 32px));
				}

				.priceText {
					padding-top: 40px;
				}
			}

			.twoGiftSvgContainer {
				width: 210px;
				@include transform(translateY(-20px));
				position: relative;
			}
		}

		.horizontalCtrls {
			height: 110px;
	
			.buyContainer {
				p {
  					color: $textColor;
  					font-size: ms(0);
  					font-family: $primary-font;
					@include transform (translateY(-2px));
				}
			}

			.bigPlusBttn {
				@include transform (translate(-50%, -5px));
				width: 48px;
				height: 48px;
				@include border-radius(50%);
			  	margin-left: 50%;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
				margin-bottom: 5px;
				cursor: pointer;
				
				path {
					fill: #1E0F0F;
				}
			}

			.price {
				padding-top: 22px;
			}
		}

		.giftSizeFive {
			@include transform(translate(-50%, 12px));
			left: 50%;
			position: relative;
			width: 230px;
		}

		.giftSizeThree {
			@include transform(translate(-50%, 12px));
			left: 50%;
			position: relative;
			width: 170px;
		}

		.giftSizeSampler {
			@include transform(translate(-50%, 5px));
			left: 50%;
			position: relative;
			width: 260px;
		}

//Accesories Section

		.accessoriesContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(12 of 12);
			padding: 10px $xsmlContainer;
			font-family: $primary-font;
			font-size: 1rem;
			line-height: 1.3em;
			height: 620px;
			color: $textColor;

			.accessoriesNameContainer {
				height: 60px;
				margin-top: 20px;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: 1.3em;
				text-align: right;
				text-transform: uppercase;
			}
		}
	}


// -------------------------- SMALL --------------------------

	@include susy-breakpoint($small){
		@include single-transition(all, 1s, ease-out);
		@include container;
	  	// max-width: 500px;

		$smlContainer: 6%; // this will change the width of the containers for all products in this breakpoint

		.pageTitle {
			padding: ms(2) $smlContainer;
			font-size: ms(2);
			line-height: ms(3);
			letter-spacing: 0.2rem;
		}

		.productsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 10px $smlContainer;
			line-height: 1.3em;
			height: 720px;
		}

		.ctrlsContainer {
			.buyCtrlsLeft {
				padding-left: 5vw;
			} // left side div with big bottle, price and buttons

			.buyCtrlsRight {
				padding-right: 5vw;
			} // right side div with big bottle, price and buttons
		}

		.oilsBuyContainer p {
			padding: 5px 0px 4px;
		}

		.description {
			font-size: 1rem;
			line-height: 1.8em;
			letter-spacing: 0.03rem;
			text-align: left;
			opacity: 1;
		}

		.oilsNameImgContainer {
			height: 80px; //this height is needed to even the two bottles

			.oilsName {
				width: 55%;
				font-family: $primary-fontlight;
			}

			.oilsImage {
				width: 45%;
				height: 0px; //this height is needed to even the two bottles
				@include transform (scale(0.7));
			}
		}

//Seasonings Section

		.seasoningsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 10px $smlContainer 20px;
			// this font values are for buy ctrls texts
			font-family: $primary-font;
			font-size: 1rem;
			line-height: 1.3em;
			text-align: center;
			height: 620px;

			// Product Name (it's being selected by root position)
			li:nth-child(2) {
				font-family: $product-title;
				font-size: 1.7rem;
				padding: 10px 0px;
				text-align: left;
			}
		}

		.seasoningsNameImgContainer {
			height: 140px;
		}

		.seasoningsNames {
			width: 55%;
		}

		.seasoningsImage {
			width: 45%;
			text-align: center;
		}

//Gifts Section

		.giftsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 10px $smlContainer 20px;
			color: $textColor;
			height: 670px;

			.giftsNameContainer {
				height: 110px;
				margin-top: 20px;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(2);
			}
		}

		.giftTwoBottlesCtrlSvgWrapper {
			height: 360px;

			.buyCtrlsLeftGifts {
				margin-top: 70px;

				.oilsBuyContainerLeft p {
					@include transform (translateY(22px));
				}

				.bigPlusBttn {
					@include transform (translate(-50%, 22px));
				}

				.priceText {
					padding-top: 20px;
				}
			}

			.twoGiftSvgContainer {
				@include transform (scale(1.2) translate(0px, 20px));
				width: 200px;
			}
		}

		.giftSizeFive {
			width: 220px;
		}

		.giftSizeThree {
			width: 140px;
		}

		.giftSizeSampler {
			width: 220px;
		}

//Accessories Section

		.accessoriesContainer {
			@include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 10px $smlContainer 20px;
			font-family: $primary-font;
			height: 580px;
			color: $textColor;

			.accessoriesNameContainer {
				height: 60px;
				margin-top: 20px;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(2);
				text-align: right;
			}
		}
	}


// -------------------------- MEDIUM --------------------------

	@include susy-breakpoint($medium){
		@include container;
	  	// max-width: 890px;

		$medContainer: 8%; // this will change the width of the containers for all products in this breakpoint

		.pageTitle {
			padding: ms(2) 20%;
		}

		.productsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 0px $medContainer;
			line-height: 1.3em;
			height: 660px;

			// Product Name (it's being selected by root position)
			// li:nth-child(2) {
			// 	font-family: $product-title;
			// 	font-size: 1.7rem;
			// 	padding: 10px 0px;
			// 	text-align: left;
			// }
		}

		.buyContainer {
			padding-top: 40px;
			
			p {
				padding-top: 10px;
				color: $textColor;
				font-size: 0.8rem;
			}
		}

		.ctrlsContainer {

			.buyCtrlsLeft {
				padding-left: 5vw;
			} // left side div with big bottle, price and buttons

			.buyCtrlsRight {
				padding-right: 5vw;
			} // right side div with big bottle, price and buttons
		}

		.description {
			font-family: $desc-font;
			font-size: 1rem;
			text-align: left;
			line-height: 1.7em;
			letter-spacing: 0.03rem;
		}

		.oilsNameImgContainer {
			height: 80px;

			.oilsName {
				width: 50%;
			}

			.oilsImage {
				width: 50%;
				height: 80px;
			}
		}

//Seasonings Section

		.seasoningsContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 0px $medContainer 20px;
			font-family: $primary-font;
			font-size: 1rem;
			line-height: 1.3em;
			height: 620px;
			text-align: center;

			// Product Name (it's being selected by root position)
			li:nth-child(2) {
				font-family: $product-title;
				font-size: 1.7rem;
				padding: 10px 0px 0px;
				text-align: left;
			}
		}

//Gifts Section

		.giftsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 0px $medContainer;
			height: 650px;
			color: $textColor;

			.giftsNameContainer {
				height: 110px;
				margin-top: 20px;
			}
		}

		.giftTwoBottlesCtrlSvgWrapper {
			height: 360px;

			.buyCtrlsLeftGifts {

				.oilsBuyContainerLeft p {
					@include transform (translateY(22px));
				}

				.bigPlusBttn {
					@include transform (translate(-50%, 22px));
				}

				.priceText {
					padding-top: 20px;
				}
			}
		}

		.horizontalCtrls {
			.buyContainer {
				padding-top: 18px;

				p {
					@include transform (translateY(-18px));
				}

				.bigPlusBttn {
					@include transform (translate(-50%, -16px));
				}

				.price {
					padding-top: 18px;
				}
			}
		}

//Accessories Section
		.accessoriesContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(6 of 12);
			padding: 0px $medContainer 50px;
			height: 660px;
			color: $textColor;

			.accessoriesNameContainer {
				height: 60px;
				margin-top: 20px;
			}
		}
	}


// -------------------------- LARGE --------------------------

	@include susy-breakpoint($large){
	  	max-width: $largeMax;

		$lrgContainer: 5%; // this will change the width of the containers for all products in this breakpoint

		.pageTitle {
			@include transition-delay(1s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-out);
			padding: ms(2) 0px ms(1);
	  		font-size: ms(2);
			line-height: ms(3);

			input {
				display: none;
			}
		}

		.productsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(4 of 12);
			padding: 0px $lrgContainer;
			line-height: 1.3em;
			height: 670px;

			// Product Name (it's being selected by root position)
			// li:nth-child(2) {
			// 	font-family: $product-title;
			// 	font-size: ms(2);
			// 	padding: 10px 0px;
			// 	text-align: left;
			// }
		}

		.buyContainer p {
		  color: $textColor;
		  font-size: 0.8rem;
		}

		.ctrlsContainer {
			height: 350px;

			.buyCtrlsLeft {
				padding-left: 2vw;
			} // left side div with big bottle, price and buttons

			.buyCtrlsRight {
				padding-right: 2vw;
			} // right side div with big bottle, price and buttons

			.buyCtrlsSpecial {
				top: 94px;
			}
		}

		.oilsBuyContainerLeft {
			p {
				padding: 5px 0px 16px;
			}
		}

		.bottlesContainer {
			height: 130px;
			img {
				@include transform(translateY(-50px) scale(0.8));
			}
		} // container for the svg

		.oilsBuyContainer p {
			padding: 5px 0px 20px;
		}

		.description {
			font-family: $desc-font;
			font-size: ms(0);
			text-align: left;
			line-height: ms(1);
			letter-spacing: 0.05rem;
			color: $textColor;
			opacity: 0.7;
			height: 150px;
			margin: 18px 0px;
		}

		.descOpen {
			height: 2px;
		}

		.oilsNameImgContainer {
			height: 80px;

			.oilsName {
				width: 55%;
				font-size: ms(1);
				line-height: ms(1);
			}

			.oilsImage {
				width: 45%;
				height: 80px;
				@include transform (scale(0.7));
			}
		}

//Seasonings Section

		.seasoningsContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(4 of 12);
			padding: 0px $lrgContainer 10px;
			height: 640px;
		}

		.seasoningsNameImgContainer {
			height: 140px;
		}

		.seasoningsNames {
			width: 55%;
		}

		.seasoningsImage {
			width: 45%;
			@include transform(scale(0.8));
		}

		.seasoningsPackageContainer {
			height: 25px;
		}

//Gifts Section

		.giftsContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(4 of 12);
			padding: 0px $lrgContainer 10px;
			height: 640px;
			color: $textColor;

			.giftsNameContainer {
				height: 75px;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(1);
			}
		}

		.giftTwoBottlesCtrlSvgWrapper {
			height: 360px;

			.buyCtrlsLeftGifts {
				margin-top: 100px;
			}

			.twoGiftSvgContainer {
				width: 220px;
			}
		}

//Accessories Section
		.accessoriesContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(4 of 12);
			padding: 0px $lrgContainer 10px;
			font-family: $primary-font;
			font-size: 1rem;
			line-height: 1.3em;
			height: 610px;
			color: $textColor;

			.accessoriesNameContainer {
				height: 60px;
				margin-top: 20px;
				font-family: $primary-fontlight;
				font-size: ms(1);
				line-height: ms(2);
				text-align: right;
			}
		}
	}


// -------------------------- XLARGE --------------------------

	@include susy-breakpoint($xlarge){
	  	max-width: $xlargeMax;

		$xlrgContainer: 4%; // this will change the width of the containers for all products in this breakpoint

	  	.pageTitle {
			@include transition-delay(1s);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-out);
	  		padding: ms(3) 0px ms(2);
	  		font-size: ms(2);
			line-height: ms(3);
	  	}

		.productsContainer {
			@include single-transition(all, 1s, ease-out);
			@include span(3 of 12);
			padding: 0px $xlrgContainer;
			height: 740px;
		}

		.ctrlsContainer {
			height: 410px;

			.buyCtrlsSpecial {
				top: 122px;
			}
		}

		.bottlesContainer {
			height: 170px;

			img {
				@include transform(translateY(-20px) scale(0.8));
			}
		} // container for the svg

		.oilsNameImgContainer {
			height: 80px;

			.oilsName {
				width: 50%;
			}

			.oilsImage {
				width: 45%;
				height: 80px;
				@include transform (scale(0.8));
			}
		}

//Seasonings Section
		.seasoningsContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(3 of 12);
			padding: 0px $xlrgContainer 10px;
			// Product Name (it's being selected by root position)
			li:nth-child(2) {
				padding: 10px 0px 50px;
			}
		}

		.seasoningsImage {
			width: 45%;
			@include transform(scale(1));
		}

//Gifts Section
		.giftsContainer {
			// @include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(3 of 12);
			padding: 0px $xlrgContainer 10px;
			color: $textColor;

			.giftsNameContainer {
				height: 75px;
				margin-top: 20px;
			}
		}

		.horizontalCtrls {

			.buyContainer {
				padding-top: 0px;
				p {
					@include transform (translateY(-8px));
				}

				.bigPlusBttn {
					@include transform (translate(-50%, -6px));
				}

				.price {
					padding-top: 28px;
				}
			}
		}

		.giftTwoBottlesCtrlSvgWrapper {
			// height: 360px;

			.buyCtrlsLeftGifts {
				margin-top: 100px;
			}

			.twoGiftSvgContainer {
				width: 210px;
			}
		}

//Accessories Section
		.accessoriesContainer {
			@include clearfix;
			@include single-transition(all, 1s, ease-out);
			@include span(3 of 12);
			padding: 0px $xlrgContainer 10px;
			height: 610px;
			color: $textColor;

			.accessoriesNameContainer {
				height: 60px;
				margin-top: 20px;
			}
		}
	}
} 

.horizontalCtrls {
	.buyBttns {
		width: 50%;
		text-align: center;
	}

	.price {
		padding-top: 70px;
		width: 50%;
		font-family: $product-price;
		font-size: 1.7rem;
		color: $textColor;
		text-align: center;
	}
}

.horizontalImage {
	height: 240px;
	text-align: center;
	@include transform (scale(0.85));
}

.sizeText {
	font-family: $product-price;
	font-size: ms(0);
	color: $secondaryColor;
	text-align: center;
}

.priceText {
	font-family: $product-price;
	font-size: 1.7rem;
	color: $textColor;
	text-align: center;
	padding: ms(3) 0px ms(2);
}

footer {
	font-family: $primary-font;
	letter-spacing: 0.04rem;
	color: $bg01;
	text-align: center;
	z-index: 1600;
	background: linear-gradient(to bottom left, rgba($textColor, 0.9), rgba($green, 0.85));

	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);
		@include span(12 of 12);
		font-size: ms(0);
		line-height: ms(2);
		padding: 20px 10% 40px;
		// margin-top: 40px;

		.about {
			text-decoration: none;
			font-size: ms(0);
			font-family: $primary-fontbold;
			cursor: pointer;
		}

		.motive {
			width: 66px;
			@include transform(translateX(-50%));
			left: 50%;
			position: relative;
		}
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);
		font-size: ms(0);
		line-height: ms(2);
		padding: 20px 10% 40px;

		.about {
			position: absolute;
			top: 7px;
			right: 8%;
			z-index: 1040;
			color: $green;
			font-size: ms(0);
			font-family: $primary-font;
		}

		.motive {
			width: 80px;
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);

		.about {
			right: 20%;
		}
	}
}

.ng-hide {
	@include single-transition(all, 1s, ease-out);	
}