@charset "UTF-8";

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

// Default Variables

$slick-font-family: $display-text !default;
$slick-arrow-color: #616A00 !default;
$slick-dot-color: $bg02 !default;
$slick-dot-color-active: #D5CB2E !default;
$slick-prev-character: "‹" !default;
$slick-next-character: "›" !default;
$slick-dot-character: "·" !default;
$slick-dot-size: ms(4) !default;
$slick-opacity-arrows: 1 !default;
$slick-opacity-dots: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

body {
	@include susy-breakpoint($xsmall) {
		@include single-transition(all, 1s, ease-out);

		.slickContainer {
			@include span (12 of 12);
			padding: 0px 0px ms(2) 0px;
			margin-top: 0px;

			.textContainer {
				width: inherit;
				color: white;
				z-index: 99;
				position: absolute;

				p {
					text-align: center;

					a {
						@include single-text-shadow;
						@include links(ms(1), ms(3)); //arguments font size and line height
						color: white;
					}
				}

				.header {
					padding-top: ms(0);

					p{
						font-family: $display-text;
						font-size: ms(2);
						line-height: ms(2);
						letter-spacing: 0.08rem;
					}
				}

				.imgText {
					padding-top: ms(0);
					padding-right: ms(1);
					z-index: 99;

					p {
						color: $textColor;
						font-family: $primary-font;
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.06rem;
					}
				}
			}

			.slide1 {
				@include background($slide1);
				@include bg-properties;

				.textContainer {
					top: 26vh;

					.logo {
						width: 260px;
						margin: 0 auto;
					}

					.logoText {
						margin-top: ms(0);
						padding: 0px 16vw;

						p {
							font-family: $primary-font;
							font-size: ms(0.4);
							font-variant: small-caps;
							letter-spacing: 0.1rem;
						}
					}

					.slogan {
						margin-top: 43vh;

						p {
							font-family: $page-title;
							font-size: ms(1);
						}
					}
				}
			}

			// .slide2 {
			// 	@include background($slide2);
			// 	@include bg-properties;

			// 	.imgText {
			// 		font-variant: small-caps;
			// 	}
			// }

			// .slide3 {
			// 	@include background($slide3);
			// 	@include bg-properties;

			// 	.imgText {
			// 		font-variant: small-caps;
			// 	}
			// }
		}

		/* Slider */

		.slick-list {
			.slick-loading & {
				// background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
			}
		}

		/* Arrows */

		.slick-prev,
		.slick-next {
			position: absolute;
			z-index: 990;
			display: block;
			height: 40px;
			width: 40px;
			font-size: 0px;
			cursor: pointer;
			background: transparent;
			color: #616A00;
			// top: 50%;
			bottom: 0px;
			@include transform(translate(0, -50%) scale(2));
			padding: 0;
			border: none;
			outline: none;
			&:hover, &:focus {
				outline: none;
				background: transparent;
				color: #D5CB2E;
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
			&.slick-disabled:before {
				opacity: $slick-opacity-not-active;
			}
			&:before {
				font-family: $slick-font-family;
				font-size: ms(0);
				line-height: 1;
				color: $slick-arrow-color;
				opacity: $slick-opacity-arrows;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		.slick-prev {
			left: ms(1);
			[dir="ltr"] & {
				left: auto;
				right: ms(1);
			}
			&:before {
				content: $slick-prev-character;
				[dir="ltr"] & {
					content: $slick-next-character;
				}
			}
		}

		.slick-next {
			right: ms(1);
			[dir="ltr"] & {
				left: ms(1);
				right: auto;
			}
			&:before {
				content: $slick-next-character;
				[dir="ltr"] & {
					content: $slick-prev-character;
				}
			}
		}

		.slick-slide {
			z-index: -1;
			height: 92vh;
			padding-top: 44px;

			img {
				position: relative;
				cursor: grab;
			}
		}

		/* Dots */

		.slick-dotted.slick-slider {
			margin-bottom: ms(1);
		}

		.slick-dots {
			position: absolute;
			list-style: none;
			display: block;
			text-align: center;
			padding: 0;
			margin: 0;
			width: 100%;
			@include transform (translateY(-55px));
			li {
				position: relative;
				display: inline-block;
				height: 44px;
				width: 44px;
				margin: 0px;
				padding: 0;
				cursor: pointer;
				button {
					border: 0;
					background: transparent;
					display: block;
					height: 44px;
					width: 44px;
					outline: none;
					line-height: 0px;
					font-size: 0px;
					color: transparent;
					padding: 5px;
					cursor: pointer;
					@include transform(scale(0.5));
					&:hover, &:focus {
						outline: none;
						&:before {
							opacity: $slick-opacity-on-hover;
						}
					}
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						content: $slick-dot-character;
						width: 44px;
						height: 44px;
						font-family: $slick-font-family;
						font-size: $slick-dot-size;
						line-height: 20px;
						text-align: center;
						color: $slick-dot-color;
						opacity: $slick-opacity-not-active;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
				&.slick-active button:before {
					color: $slick-dot-color-active;
					opacity: $slick-opacity-dots;
				}
			}
		}
	}

	@include susy-breakpoint($small) {
		@include single-transition(all, 1s, ease-out);

		.slickContainer {
			padding: 0px 0px ms(3) 0px;

			.textContainer {
				margin: 0 auto;
				position: relative;
				max-width: 480px;

				.header {
					p {
						font-size: ms(3);
						line-height: ms(3);						
					}
				}

				.imgText {
					padding-top: ms(1);

					p {
						line-height: ms(1);
						letter-spacing: 0.04rem;
					}
				}

				.slogan {
					padding-top: ms(7);

					p {
						font-family: $display-text;
						text-transform: none;
					}
				}
			}

			.slide1 {
				.textContainer {
					top: 23vh;

					.logo {
						width: 360px;
					}

					.logoText {
						margin-top: ms(1);
						padding: 0px 8vw;

						p {
							font-size: ms(1);
							line-height: ms(2);
							letter-spacing: 0.1rem;
						}
					}

					.slogan {
						margin-top: 5vh;

						p {
							font-size: ms(1);
						}
					}
				}
			}
		}

		.slick-slide {
			height: 95vh;
		}

		.slick-dots {
			@include transform (translateY(-44px));

			li {	
				button {
					@include transform(scale(0.8));
				}
			}
		}
	}

	@include susy-breakpoint($medium) {
		@include single-transition(all, 1s, ease-out);

		.slickContainer {
			padding: 0px 0px ms(3) 0px;
		}

		.slick-slide {
			height: 66vh;
		}
	}

	@include susy-breakpoint($large) {
		@include single-transition(all, 1s, ease-out);

		.slickContainer {
			@include span (12 of 12);
			padding: 0px 0px ms(2) 0px;
			@include transform (translateX(-50%));
			left: 50%;
			position: relative;
			margin-top: 80px;

			.textContainer {
				padding-top: 6vh;
				@include transform(translateX(-50%));
				left: 50%;
				position:relative;
				max-width: $largeMax;

				.header {
					p {
						font-size: ms(4);
						letter-spacing: 0.1rem;
					}
				}

				.imgText {
					padding-top: ms(0);
					max-width: 340px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.1rem;
					}
				}
			}		

			.slide1 {
				@include background($slide4);
				@include bg-properties;
			}
			.slide2 {
				@include background($slide5);
				@include bg-properties;
			}
			.slide3 {
				@include background($slide6);
				@include bg-properties;
			}
		}

		.slick-prev,
		.slick-next {
			bottom: ms(0);
			@include transform(scale(3));
			&:before {
				opacity: 1;
			}
		}

		.slick-slide {
			z-index: -1;
			height: 80vh;

			img {
				width: 400px;
				min-height: 80px;
				max-height: 800px;
			}
		}

		.slick-dots {
			@include transform (translateY(-40px));

			li {	
				button {
					@include transform(scale(0.7));
				}
			}
		}
	}

	@include susy-breakpoint($xlarge) {
		@include single-transition(all, 1s, ease-out);

		.slickContainer {
			@include span (12 of 12);
			padding: 0px 0px ms(3) 0px;
			margin-top: 80px;

			.textContainer {
				@include span (12 of 12);
				padding-top: 25vh;
				@include transform(translateX(-50%));
				left: 50%;
				position:relative;
				max-width: $xlargeMax;

				.header {
					p {
						font-size: ms(4);
						line-height: ms(4);
						letter-spacing: 0.1rem;
					}
				}

				.imgText {
					padding-top: ms(0);
					max-width: 420px;

					p {
						font-size: ms(0);
						line-height: ms(1);
						letter-spacing: 0.07rem;
					}
				}

				.slogan {
					padding-top: ms(6);

					p {
						font-family: $display-text;
						text-transform: none;
					}
				}
			}
		}

		.slick-prev,
		.slick-next {
			bottom: ms(1);
			@include transform(scale(3.5));
				&:before {
					opacity: 1;
				}
			}

		.slick-slide {
			z-index: -1;
			height: 88vh;

			img {
				width: 580px;
			}
		}

		.slick-dots {
			@include transform (translateY(-70px));

			li {	
				button {
					@include transform(scale(1));
				}
			}
		}
	}
}