<div class="headerBalsamics"></div>
<div class="layout lastBalsamics">
	<div class="pageTitle displayText">
		<div>Balsamics de Modena</div>
		<p class="search"><input ng-model="query" placeholder=" Search Balsamics"></p>
	</div>
	<ul ng-repeat="item in product | filter:query" class="productsContainer balsamics">
		<div class="divider"></div>
		<li class="oilsNameImgContainer">
			<div class="oilsImage left"><img ng-src="{{item.decoimage}}"/></div>
			<div class="oilsName right"><h4>{{item.name}}</h4></div>

		</li>
		<li class="ctrlsContainer">			
			<balsamic-container></balsamic-container><!-- directive for the div with the svg in templates -->
		</li>
		<li class="description balsamics"><p>{{item.description}}</p></li>
		<li class="motif">
			<img src="images/svg/ends.svg"/>
		</li>
	</ul>
</div>