<div class="headerSeasonings"></div>
<div class="layout lastSeasonings">
	<div class="pageTitle displayText">
		<div>Salts, Herbs, Condiments & Sugars</div>
		<!-- <p class="search"><input ng-model="query" placeholder="Search"></p> -->
	</div>

	<ul ng-repeat="item in product | filter:query" class="seasoningsContainer">
		<div class="divider"></div>
		<li class="seasoningsNameImgContainer">
			<div class="seasoningsImage left"><img ng-src="{{item.decoimage}}"/></div>
			<div class="seasoningsNames right"><h4>{{item.name}}</h4></div>
		</li>
		<li class="seasoningsCtrlSvgWrapper">
			<seasoning-container></seasoning-container><!-- directive for the div with the svg in templates -->
		</li>
		<li class="description seasonings"><p>{{item.description}}</p></li>
		<li class="motif">
			<img src="images/svg/ends.svg"/>
		</li>		
	</ul>
</div>