<div id="" class="headerSeasonings">
	<div class="imgText displayText">Gourmet Olive Oils, Aged Balsamics & Related Products</div>
	<div class="actionbanner">
		<div class="motto">Live with taste. Live well.</div>
		<div class="cartinfo">Your Cart</div>
		<div class="totalprice">Total and Checkout bttn</div>
	</div>
</div>
<div class="layout">
	<div class="pageTitle displayText">
		<p>Salts, Herbs, Condiments and Sugars</p>
	</div>

	<ul ng-repeat="item in product" class="seasoningsContainer">
		<div class="divider"></div>
		<li class="seasoningsNameImgContainer">
			<div class="seasoningsNames">{{item.name}}</div>
			<div class="seasoningsImage right"><img ng-src="{{item.decoimage}}"/></div>
		</li>
		<li class="buyCtrlPackageContainer">
			<div class="buyCtrlsLeft">
				<bttns-left></bttns-left>
			</div>
			<div class="seasoningsPackageContainer">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 136 202" xml:space="preserve"><path fill="none" stroke="#9C9E88" d="M68,4.7L1.9,2.5l10.4,173.9c0,0,14,0.4,21,4.4c6.4,3.7,17.6,18.7,37.3,18.7s25.8-15,32.2-18.7c7-4,21-4.4,21-4.4L134.1,2.5L68,4.7z"/>
				</svg>
			</div>
		</li>
		<div class="description"><p>{{item.description}}</p></div>
	</ul>
</div>